<div id="registerModal">
  <navbar content="{{navbarvm.activeNav}}"></navbar>
  <form novalidate method="post" name="registerModal" class="col-md-8 col-xs-12 col-md-offset-2">
    <h2 class="text-center"> Forgot password</h2>
    <h3 class="bg-info" ng-show="vm.formError">{{vm.formError}}</h3>
    <div class="form-group">
      <label form="password">password: </label>
      <p ng-show="!registerModal.password.$valid && registerModal.password.$touched" class="alert alert-warning">Password must be more than 5 characters</p>
      <input ng-model="vm.credentials.registerModal.password" type="text" id="password" ng-minlength="5" ng-required="true" name="password" class="form-control" ng-class="[{error: !registerModal.password.$valid && registerModal.password.$touched}, {success: registerModal.password.$valid}]" />
    </div> <!-- End of class form-group -->
  </form>
  <footer-base></footer-base>
</div> <!-- End of id registerModal -->