<div id="registerModal">
  <navbar content="{{navbarvm.activeNav}}" class="col-xs-12" style="height:90px"></navbar>
  <form novalidate method="post" name="registerModal" class="col-md-8 col-xs-12 col-md-offset-2">
    <h2 class="text-center"> Forgot Username</h2>
    <h3 class="bg-info" ng-show="vm.formError">{{vm.formError}}</h3>
    <h3 class="bg-info" ng-show="vm.formInfo">{{vm.formInfo}}</h3>
    <div class="form-group">
      <label form="username">username: </label>
      <p ng-show="!registerModal.username.$valid && registerModal.username.$touched" class="alert alert-warning">Username must be more than 5 characters</p>
      <input ng-model="vm.username" type="text" id="username" ng-minlength="5" ng-required="true" name="username"
        class="form-control" ng-class="[{error: !registerModal.username.$valid && registerModal.username.$touched}, {success: registerModal.username.$valid}]"
      />
    </div>
    <!-- End of class form-group -->
    <div class="form-group">
        <button class="btn btn-primary" ng-click="vm.submit()">Submit</button>
    </div>
    <!-- End of class form-group -->
  </form>
  <footer-base></footer-base>
</div>
<!-- End of id registerModal -->