<div id="registerModal">
  <navbar content="{{navbarvm.activeNav}}"></navbar>
  <form novalidate method="post" name="registerModal" class="col-md-8 col-xs-12 col-md-offset-2">
    <h2 class="text-center"> Register as a Company or Veteran </h2>
    <p>Please fill in all fields and select either veteran or company to submit the form.</p>
    <div class="bg-info" ng-show="vm.formError">{{vm.formError}}</div>
    <div class="form-group">
      <label form="username">Username: </label>
      <p ng-show="!registerModal.username.$valid && registerModal.username.$touched" class="error">Username must be more than 5 characters</p>
      <input ng-model="vm.credentials.registerModal.username" type="text" id="username" ng-minlength="5" ng-required="true" name="username" class="form-control" ng-class="[{error: !registerModal.username.$valid && registerModal.username.$touched}, {success: registerModal.username.$valid}]" />
    </div>
    <div class="form-group">
      <label form="email">Email: </label>
      <p ng-show="!registerModal.email.$valid && registerModal.email.$touched" class="error">Please enter a valid email</p>
      <input ng-model="vm.credentials.registerModal.email" type="text" ng-class="[{error: !registerModal.email.$valid && registerModal.email.$touched}, {success: registerModal.email.$valid}]" id="email" ng-minlength="5" ng-required="true" name="email" class="form-control"/>
    </div>
    <div class="form-group">
      <label form="password">Password: </label>
      <p ng-show="!registerModal.password.$valid && registerModal.password.$touched" class="error">Passwords must be more than 8 characters</p>
      <input ng-model="vm.credentials.registerModal.password" type="password" ng-class="[{error: !registerModal.password.$valid && registerModal.password.$touched}, {success: registerModal.password.$valid}]" ng-minlength="8" ng-required="true" id="password" name="password" class="form-control"/>
    </div>
    <div class="form-group">
      <input type="radio" ng-model="vm.credentials.registerModal.type" value="0" ng-required="true">Veteran <br />
      <input type="radio" ng-model="vm.credentials.registerModal.type" value="1" ng-required="true">Company<br />
      <button type="button" ng-disabled="registerModal.$invalid" ng-click="vm.doRegister(vm.credentials.registerModal)" class="btn btn-primary col-md-4 col-xs-12 pull-right"/>Register as {{vm.formTitle()}} </button>
    </div>
  </form>
  <footer-base></footer-base>
</div>
