<span class="glyphicon glyphicon-remove close-btn pull-right" ng-click="compSet.cancel()"></span>
<div id="contactModal">
    <p>Please fill out the following fields. If you do not have one of the following, you may leave it blank.</p>
    <form novalidate method="post" name="contact" ng-submit="submit()">
        <fieldset>
            <legend>Update Information</legend>
            <div class="row col-xs-12">

                <div class="form-group">
                    <label form="contact" for="name">First Name: </label>
                    <input ng-model="compSet.user.company_info.firstname" type="text" class="form-control" name="firstname" />
                </div>
                <!-- End of class form-group -->

                <div class="form-group">
                    <label form="contact" for="name">Last Name: </label>
                    <input ng-model="compSet.user.company_info.lastname" type="text" class="form-control" name="lastname" />
                </div>
                <!-- End of class form-group -->

                <div class="form-group">
                    <label form="contact" for="industry">Industry: </label>
                    <input ng-model="compSet.user.company_info.industry" type="text" class="form-control" name="industry" />
                </div>
                <!-- End of class form-group -->

                <div class="form-group">
                    <label form="contact" for="location">Location: </label>
                    <input ng-model="compSet.user.company_info.location" type="text" class="form-control" name="location" />
                </div>
                <!-- End of class form-group -->

                <div class="form-group">
                    <label form="contact" for="email">Email: </label>
                    <input ng-model="compSet.user.company_info.email" type="text" class="form-control" name="email" />
                </div>
                <!-- End of class form-group -->

                <div class="form-group">
                    <label form="contact" for="phone">Phone Number: </label>
                    <input ng-model="compSet.user.company_info.phone" type="text" class="form-control" name="phone" />
                </div>
                <!-- End of class form-group -->

                <div class="form-group">
                    <label form="contact" for="pointofcontact">Point of Contact: </label>
                    <input ng-model="compSet.user.company_info.pointofcontact" type="text" class="form-control" name="contact" />
                </div>
                <!-- End of class form-group -->

            </div>
            <!-- End of class row col-xs-12 -->
        </fieldset>
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center form-group">
                    <input ng-click="compSet.cancel()" class="btn btn-warning" type="button" value="Cancel" />
                    <input ng-click="compSet.onSubmit('compSet',compSet.user)" class="btn btn-info" type="button" value="Save" />
                </div>
                <!-- End of class text-center form-group -->
            </div>
            <!-- End of class col-xs-12 -->
        </div>
        <!-- End of class row -->
    </form>
</div>
<!-- End of id contactModal -->