<div id="availibilityModal">
  <span class="glyphicon glyphicon-remove pull-right" ng-click="availibilityvm.cancel()"></span>
  <form novalidate method="post" name="availability" ng-submit="submit()">
    <div class="row">
      <div class="col-md-12">
      <!-- Information regarding higher education -->
      <h3>Availible worktimes</h3>
      <div class="form-group" ng-repeat="day in availibilityvm.schedule track by $index">
          <label form="availability">day.day: </label>
          <input ng-model="day.min" type="date" class="form-control" name="scheduleMin{{$index}}"/>
          <input ng-model="day.max" type="date" class="form-control" name="scheduleMax{{$index}}"/>
          <!-- <span ng-hide="educationvm.editMode">{{educationvm.school}}</span> -->
      </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center form-group">
          <button ng-click="availibilityvm.close()" class="btn btn-success" type="submit">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
