<div id="availibilityModal">
  <span class="glyphicon glyphicon-remove pull-right" ng-click="availibilityvm.cancel()"></span>
  <form novalidate method="post" name="availability" ng-submit="submit()">
    <div class="row">
      <div class="col-md-12">
      <!-- Information regarding higher education -->
      <h3>Availible worktimes</h3>
      <div class="form-group" ng-repeat="time in availibilityvm.schedule">{{time.day}}
          <select required="true" name="openTime" ng-options="availibilityvm.hour as (hour | date: 'shortTime') for hour in hours track by hour" ng-model="start_time"><option></option></select>-
      </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center form-group">
          <button ng-click="availibilityvm.close()" class="btn btn-success" type="submit">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
