<div id="vet-car" class="vet-dashboard">

  <navbar content="navbarvm.activeNav"></navbar>
  <div class="container">
    <div class="space">
    </div>
    <div class="row">
      <div class="col-md-2">
        <div id="tab">
          <div class="list-group">
            <a href="veteran/" + user.name +"/profile" class="list-group-item ">Profile</a>
            <a href="veteran/" + user.name +"/career" class="list-group-item list-group-item-action active">Career Plan</a>
            <a href="veteran/" + user.name +"/internship" class="list-group-item list-group-item-action">Project Internship Tracker</a>
          </div>
        </div>
      </div>
      <div class="col-md-10 equal">
        <div class="col-md-5 box gap text-center">
          <p><strong>My Action Items</strong></p>
          <p>Current Tasks:</p>
          <p>{{actions.task1}}</p>
          <p>{{actions.task2}}</p>
          <hr>
          <button ng-click="actionsModal()" class="btn btn-primary">View All Items</button>
        </div>
        <div class="col-md-5 col-md-offset-2 box gap text-center">
          <p><strong>Resume & Portfolio</strong></p>
          <p><a>View Your Resume</a></p>
          <button class="btn btn-success">Upload Resume</button>
          <hr>
          <p>Github: {{portfolio.github}}</p>
          <p>LinkedIn: {{portfolio.linkedin}}</p>
          <button ng-click="socialModal()" class="btn btn-primary">View All Items</button>
        </div>
        <div class="col-md-5 box gap text-center">
          <p><strong>Career Information</strong></p>
          <p>Previous Career Fields:</p>
          <p>{{career.prevField1}}</p>
          <hr>
          <p>Previous Employers:</p>
          <p>{{career.prevEmployer1}}</p>
          <hr>
          <p>Goals & Objectives:</p>
          <p>{{career.goal}}</p>
          <button ng-click="careerModal()" class="btn btn-primary">View All Items</button>
        </div>
        <div class="col-md-5 col-md-offset-2 box gap text-center">
          <p><strong>Education & Coursework</strong></p>
          <p>Higher Education:</p>
          <p>{{education.school}}</p>
          <hr>
          <p>Coursework / Training:</p>
          <p>{{education.course}}</p>
          <hr>
          <p>Courses Provided By Us For You:</p>
          <p>{{education.providedCourse}}</p>
          <button ng-click="educationModal()" class="btn btn-primary">View All Items</button>
        </div>
        <div class="col-md-5 box gap text-center">
          <p><strong>Journal</strong></p>
          <p>Record all your career development efforts here!</p>
          <button class="btn btn-primary">View Your Journal</button>
        </div>
        <div class="col-md-5 col-md-offset-2 box gap text-center">
          <p><strong>Skills</strong></p>
          <p>Highest Rated Skill:</p>
          <p>{{skill.highestSkill}}</p>
          <hr>
          <button ng-click="skillModal()" class="btn btn-primary">View All Items</button>
        </div>
        <span class="clearfix"></span>
      </div>
    </div>
  </div>
  <footer-base></footer-base>

</div>
