<div id="browse-interns">
  <navbar content="navbarvm.activeNav"></navbar>
  <!-- Filter User Input and Output Result -->
  <section class="container col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <h1 class="text-center">Browse Candidate</h1>
    <form class="form col-lg-12 col-md-12 col-sm-12 col-xs-12">
      <!-- Use angular to bind this element to the results and filter them -->
      <div class="col-lg-3 col-md-3 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12 form-group">
        <label>Option</label>
        <select name="filterby" class="form-control-lg form-control">
          <option value="date">Date</option>
          <option value="name">Company</option>
        </select>
      </div>
      <div class="col-lg-2 col-md-2 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12 form-group">
        <label>Wanted Skills</label>
        <input type="text" name="skills" class="form-control-lg form-control" ng-model="vm.test.skill.skill">
      </div>
      <span class="clearfix"></span>
    </form>
    <div ng-if="vm.resultInfo" class='alert alert-info nav-message col-xs-12' role="alert">
      <h3 class="text-center">{{vm.resultInfo}}</h3>
    </div>
    <!-- Results that have been filtered out -->
    <article class="col-lg-10 col-md-10 col-lg-offset-1 col-md-offset-1 col-sm-12 col-xs-12" ng-if="!vm.noToken">
      <h2 class="text-center">Results</h2>
      <div class="row col-lg-offset-1 col-md-offset-1 INTERN" ng-repeat="user in vm.projects track by $index">

        <div class="col-md-2">
          <h4 class="specialText">
            {{user.jobInfo.title}}
          </h4>
          <p>{{user.jobInfo.compname}}</p>

          <button type="button" class="btn btn-info" ng-click="vm.addIntern($index)" ng-if="vm.inProj(user)">Want</button>

        </div>
        <div class="col-md-4">
          <br>
          <p>Focus Area: {{user.jobInfo.focusarea}}</p>
          <p>Position: {{user.jobInfo.position}}</p>
          <p>Job Type: {{user.jobInfo.jobtype}}</p>
          <p>Project Description: {{user.jobInfo.projdescription}}</p>
        </div>

        <div class="col-md-4" ng-repeat="skill in user.skills | limitTo: 3">
          <br>
          <span>{{skill.skill}}</span>
        </div>
      </div>
      <ul uib-pagination total-items="vm.totalItems" ng-model="vm.currentPage" items-per-pages="vm.itemsPerPage" class="col-xs-12"></ul>
      <br/>
      <br />
    </article>
    <span class="clearfix"></span>
  </section>

  <footer-base></footer-base>
</div>