<div id="vet-int" class="vet-dashboard">

  <navbar content="navbarvm.activeNav"></navbar>

  <div class="col-md-10">
    <!-- Project Information -->
    <div class="col-xs-12 text-center box gap">
      <p>
        <strong>Project Internship Tracker</strong>
      </p>
      <div class="col-md-6 col-xs-12">
        <p>Company: {{vm.internship.company}} </p>
        <p>Project Manager: {{vm.internship.manager}} </p>
        <p>Website: {{vm.internship.website}} </p>
        <p>Project Description: {{vm.internship.description}} </p>
      </div>
      <!-- End of class col-md-6 col-xs-12 -->
      <div class="col-md-6 col-xs-12">
        <p>Completion Date: {{vm.internship.completionDate}} </p>
        <p>Deliverable Method: {{vm.internship.deliverableMethod}} </p>
        <p>Next Check-in Due: {{vm.internship.nextCheckIn}} </p>
        <p>Resources / Project Docs: {{vm.internship.resourses}} </p>
      </div>
      <!-- End of class col-md-6 -->
    </div>
    <!-- End of class text-center box gap -->
    <!-- Project Status -->
    <div class=" col-md-10 col-xs-12 col-md-offset-1 text-center box gap">
      <p>
        <strong>Project Status</strong>
      </p>
      <ul>
        <li>Information Received: Has Yet To Be Received</li>
        <li>Communication Established: Waiting For Step 1 To Be Complete</li>
        <li>Project Internship Underway: Waiting For Step 1 To Be Complete</li>
        <li>Complete / Submit For Review: Waiting For Step 1 To Be Complete</li>
      </ul>

    </div>
    <!-- End of text-center box gap -->
    <div class="col-xs-8 col-xs-offset-2 text-center box gap">
      <p>
        <strong>Messaging System Placed Here</strong>
      </p>
    </div>
    <!-- End of text-center box gap -->
  </div>
  <!-- End of class col-md-10 -->
  <footer-base></footer-base>

</div>
<!-- End of id vet-int and class vet-dashboard -->