<div id="vet-pro" class="vet-dashboard">

  <navbar content="{{navbarvm.activeNav}}"></navbar>
  <!-- Particular spacing -->
  <section class="col-xs-12 container-fluid">
    <div class="space">
    </div>
      <article class="col-xs-12 col-md-8">
        <div class="row">
          <div class="col-xs-12 space box">
            <h2 class="col-xs-12 bg-primary">{{contact.user.name}}</h2>
            <!-- Profile Picture -->
            <div class="col-md-3 col-xs-12 text-center">
              <img src="{{contact.profile.img}}" height=200 />
              <p><button class="btn btn-default">Upload Photo</button><p>
            </div>
            <!-- Basic Information -->
            <div class="col-md-8 col-xs-12 top col-md-offset-1 ">
              <div class="col-md-6 col-sm-5 col-xs-12 col-md-offset-0 col-sm-offset-1">
                <p><strong>Location</strong>: {{contact.user.location}} </p>
                <p><strong>MOS/Rate</strong>: {{contact.user.mos}} </p>
                <p><strong>Branch of Service</strong>: {{contact.branch}} </p>
              </div>
            </div><!-- End of Basic Information -->
          </div> 
        </div>
        <div class="row">
          <div class="col-xs-12 space box">
              <h2 class="col-xs-12 bg-primary">{{contact.user.name}} - Education and Coursework</h2>
              <p>Higher Education:</p>
              <p>{{education.school}}</p>
              <hr>
              <p>Coursework / Training:</p>
              <p>{{education.course}}</p>
              <hr>
              <p>Courses Provided By Us For You:</p>
              <p>{{education.providedCourse}}</p>
              <button ng-click="educationModal()" class="btn btn-primary">View All Items</button>
            </div> 
        </div>
        <div class="row">
            <div class="col-xs-12 space box">
                <h2 class="col-xs-12 bg-primary">{{contact.user.name}} - Career Information</h2>
                <p>Previous Career Fields:</p>
                <p>{{career.prevField1}}</p>
                <hr>
                <p>Previous Employers:</p>
                <p>{{career.prevEmployer1}}</p>
                <hr>
                <p>Goals & Objectives:</p>
                <p>{{career.goal}}</p>
                <button ng-click="careerModal()" class="btn btn-primary">View All Items</button>
              </div> 
        </div>
        <div class="row">
          <div class="col-xs-12 space box">
              <h2 class="col-xs-12 bg-primary">{{contact.user.name}} - Skills</h2>
              <ol ng-if="skills.have" class="skillsModal col-md-6">
                <h4>Skills I have</h4>
                <li ng-repeat="field in skills.have | limitTo: 8">
                  <p  class="col-md-6">{{field.skill}}</p> <uib-progressbar max="5" value="field.amount" class="col-md-6"><span>{{field.amount}}</span></uib-progressbar>
                </li> <br />
              </ol>
              <ol ng-if="skills.programming" class="skillsModal col-md-6">
                <h4>Programming Skills</h4>
                <li ng-repeat="field in skills.programming | limitTo: 8">
                    <p class="col-md-6">{{field.skill}}</p> <uib-progressbar max="5" value="field.amount"  class="col-md-6"><span>{{field.amount}}</span></uib-progressbar>
                </li> <br />
              </ol>
              <!-- Create for loop for given skills and alllow user to delete and add them -->  
              <ol ng-if="skills.want" class="skillsModal col-md-6">
                  <h4>Skills I want</h4>
                  <li ng-repeat="field in skills.want | limitTo: 8">
                    {{field.skill}}
                  </li> <br />
                </ol>
              <button ng-click="skillModal()" class="btn btn-primary">View All Items</button>  
          </div> 
        </div>
        <div class="row">
          <div class="col-xs-12 space box">
              <h2 class="col-xs-12 bg-primary">{{contact.user.name}} - Journal and Mentor</h2>
              <p>Record all your career development efforts here!</p>
              <div class="col-md-6">
                <h3>Building Connections:</h3>
                <p>Informational Interviews</p>
                <div ng-repeat="interview in interviews track by $index">
                  <h5>Interview #{{$index}}</h5>
                  <p>Company: {{interview.company}}</p>
                  <p>date: {{interview.date}}</p>
                  <p>Contact: {{interview.contact}}</p>
                  <p>Notes: {{interview.notes}}</p>
                </div>
                <h3>Networking Events:</h3>
                <div ng-repeat="events in netEvents track by $index">
                    <h5>Event #{{$index}}</h5>
                    <p>Event: {{events.company}}</p>
                  </div>
              </div>
              <div class="col-md-6">
                <h3>Job Search</h3>
                <p>My professional goals</p>
                
              </div>
              <div class="col-md-6"></div>
              <button class="btn btn-primary" ng-click="journalModal()">View Your Journal</button>
            </div> 
        </div>
        <div class="row">
            <div class="col-xs-12 space box">
                <h2 class="col-xs-12 bg-primary">{{contact.user.name}} - Availability</h2>
                <div class="col-xs-12" ng-repeat="day in availibility">
                  <p>{{day.day}} : {{day.begin_time}} - {{day.end_time}}</p>
                </div>
                <button ng-click="availibilityModal()" class="btn btn-primary">View All Items</button> 
              </div> 
          </div>
        <div class="row">
          <div class="col-xs-12 space box">
              <h2 class="col-xs-12 bg-primary">{{contact.user.name}} - Resume and Portfolio</h2>
              
            </div> 
        </div>
      </article>
    <aside class="col-xs-12 col-md-4">
        <!-- Contact Information -->
        <div class="col-md-offset-1 col-xs-12 box space contact-info">
          <h2 class="col-xs-12 bg-primary">Contact Information</h2>
          <p><strong>Email</strong>: {{contact.user.email}} </p>
          <p><strong>Phone Number</strong>: {{contact.user.phone}} </p>
          <p><strong>LinkedIn Profile</strong>: {{contact.user.linkedin}} </p>
          <p><strong>Skype Username</strong>: {{contact.user.skype}} </p>
        </div> <!-- End of Contact Information -->
        <!-- Action Tasks-->
        <div class="col-md-offset-1 col-xs-12 box space contact-info">
          <h2 class="col-xs-12 bg-primary">Action Tasks</h2>
          <div ng-if="!isObjectEmpty(contact.actions)">
              <p>Current Tasks:</p>
              <p>{{contact.actions.task1}}</p>
              <p>{{contact.actions.task2}}</p>
          </div>
          <div ng-if="isObjectEmpty(contact.actions)">
            <p>No actions tasks at the moment</p>
          </div>
        </div> <!-- End of Action Tasks -->
      </aside>
  </section>
  <footer-base></footer-base>

</div>
