<div id="vet-pro" class="vet-dashboard">

  <navbar content="{{navbarvm.activeNav}}"></navbar>
  <!-- Particular spacing -->
  <section class="col-xs-12 container-fluid">
    <div class="space">
    </div>
      <article class="col-xs-12 col-md-8">
        <div class="row">
          <div class="col-xs-12 space box">
            <h2 class="col-xs-12 bg-primary">{{contact.user.name}}<span class="glyphicon glyphicon-pencil pull-right" ng-click="portfolioModal()"></span></h2>
            <!-- Profile Picture -->
            <div class="col-md-3 col-xs-12 text-center">
              <img src="{{contact.profile.img}}" height=200 />
              <p><button class="btn btn-default">Upload Photo</button><p>
            </div>
            <!-- Basic Information -->
            <div class="col-md-8 col-xs-12 top col-md-offset-1 ">
              <div class="col-md-6 col-sm-5 col-xs-12 col-md-offset-0 col-sm-offset-1">
                <p><strong>Name</strong>: {{contact.user.name}} </p>
                <p><strong>Location</strong>: {{contact.user.location}} </p>
                <p><strong>MOS/Rate</strong>: {{contact.user.mos}} </p>
                <p><strong>Branch of Service</strong>: {{contact.branch}} </p>
              </div>
            </div><!-- End of Basic Information -->
          </div> 
        </div>
        <div class="row">
          <div class="col-xs-12 space box">
              <h2 class="col-xs-12 bg-primary">{{contact.user.name}} - Education and Coursework<span class="glyphicon glyphicon-pencil pull-right" ng-click="careerModal()"></span></h2>
              <p ng-if="education.school">Higher Education:</p>
              <p ng-if="education.school">{{education.school}}</p>
              <hr>
              <p ng-if="education.course">Coursework / Training:</p>
              <p ng-if="education.course">{{education.course}}</p>
              <hr>
              <p  ng-if="education.providedCourse">Courses Provided By Us For You:</p>
              <p ng-if="education.providedCourse">{{education.providedCourse}}</p>
              <button ng-click="educationModal()" class="btn btn-primary">View All Items</button>
            </div> 
        </div>
        <div class="row">
            <div class="col-xs-12 space box">
                <h2 class="col-xs-12 bg-primary">{{contact.user.name}} - Career Information<span class="glyphicon glyphicon-pencil pull-right" ng-click="careerModal()"></span></h2>
                <p>Previous Career Fields:</p>
                <h3>Career Field 1:</h3>
                <p>{{career.career1}}</p>
                <hr>
                <p>Previous Employer:</p>
                <p>{{career.prev1}}</p>
                <hr>
                <h3>Career Field 2:</h3>
                <p>{{career.career2}}</p>
                <hr>
                <p>Previous Employers:</p>
                <p>{{career.prev2}}</p>
                <p>Goals & Objectives:</p>
                <p>{{career.goal}}</p>
              </div> 
        </div>
        <div class="row box space">
          <div class="col-xs-12">
              <h2 class="col-xs-12 bg-primary">{{contact.user.name}} - Skills<span class="glyphicon glyphicon-pencil pull-right" ng-click="skillModal()"></span></h2>
              <ol ng-if="skills.have" class="skillsModal col-md-6">
                <h4>Skills I have</h4>
                <li ng-repeat="field in skills.have | limitTo: 8">
                  <p  class="col-md-6">{{field.skill}}</p> <uib-progressbar max="5" value="field.amount" class="col-md-6"><span>{{field.amount}}</span></uib-progressbar>
                </li> <br />
              </ol>
              <ol ng-if="skills.programming" class="skillsModal col-md-6">
                <h4>Programming Skills</h4>
                <li ng-repeat="field in skills.programming | limitTo: 8">
                    <p class="col-md-6">{{field.skill}}</p> <uib-progressbar max="5" value="field.amount"  class="col-md-6"><span>{{field.amount}}</span></uib-progressbar>
                </li> <br />
              </ol>
              </div>
              <div class="col-xs-12">
              <!-- Create for loop for given skills and alllow user to delete and add them -->  
              <ol ng-if="skills.want" class="skillsModal col-md-6">
                  <h4>Skills I want</h4>
                  <li ng-repeat="field in skills.want | limitTo: 8">
                    {{field.skill}}
                  </li> <br />
                </ol>
          </div> 
        </div>
        <div class="row">
          <div class="col-xs-12 space box">
              <h2 class="col-xs-12 bg-primary">{{contact.user.name}} - Journal and Mentor<span class="glyphicon glyphicon-pencil pull-right" ng-click="journalModal()"></span></h2>
              <p>Record all your career development efforts here!</p>
              <div class="col-md-6">
                <h3>Building Connections:</h3>
                <p>Informational Interviews</p>
                <div ng-repeat="interview in interviews track by $index">
                  <h5>Interview #{{$index}}</h5>
                  <p>Company: {{interview.company}}</p>
                  <p>date: {{interview.date}}</p>
                  <p>Contact: {{interview.contact}}</p>
                  <p>Notes: {{interview.notes}}</p>
                </div>
                <h3 ng-if="netEvents.length > 0">Networking Events:</h3>
                <div ng-repeat="events in netEvents track by $index">
                    <h5>Event #{{$index}}</h5>
                    <p>Event: {{events.company}}</p>
                  </div>
              </div>
              <div class="col-md-6">
                <h3>Job Search</h3>
                <p>My professional goals</p>
                    <div ng-repeat="(key,search) in jobSearch.goal track by $index">
                        <div ng-if="search.length > 0">
                          <h4>{{key}} year goal</h4>
                          <p>{{search}}</p>
                        </div>
                    </div>
                    <div ng-repeat="search in jobSearch.careerSearch track by $index">
                        <h4>Career Search For: </h4>{{search.for}}
                        <p>Job Title: {{search.title}}</p>
                        <p>Status: {{search.status}}</p>
                  </div>
              </div>
              <div class="col-md-12">
                <h3>Mentor Information</h3>
                <p>Mentor Name: {{contact.user.mentor.mentorname}}</p>
                <p>Mentor Location: {{contact.user.mentor.location}}</p>
                <p>Mentor Email: {{contact.user.mentor.email}}</p>
                <p>Mentor Discussion: {{contact.user.mentor.discussion}}</p>
              </div>
              <div class="col-md-6"></div>
            </div> 
        </div>
        <div class="row">
            <div class="col-xs-12 space box">
                <h2 class="col-xs-12 bg-primary">{{contact.user.name}} - Availability<span class="glyphicon glyphicon-pencil pull-right" ng-click="availibilityModal()"></span></h2>
                <div class="col-xs-12" ng-repeat="day in availibility">
                  <p>{{day.day}} : {{day.begin_time | date:'yyyy-MM-dd'}} - {{day.end_time | date:'yyyy-MM-dd'}}</p>
                </div>
              </div> 
          </div>
        <div class="row">
          <div class="col-xs-12 space box">
              <h2 class="col-xs-12 bg-primary">{{contact.user.name}} - Resume and Portfolio</h2>
              
            </div> 
        </div>
      </article>
    <aside class="col-xs-12 col-md-4">
        <!-- Contact Information -->
        <div class="col-md-offset-1 col-xs-12 box space contact-info">
          <h2 class="col-xs-12 bg-primary">Contact Information<span class="glyphicon glyphicon-pencil pull-right" ng-click="contactModal()"></span></h2>
          <p><strong>Email</strong>: {{contact.user.email}} </p>
          <p><strong>Phone Number</strong>: {{contact.user.phone}} </p>
          <p ng-repeat="(key,contact) in contact.user.social" ng-if="contact.length > 0">
            <b>{{key}}: </b> {{contact}}
          </p>
        </div> <!-- End of Contact Information -->
        <!-- Action Tasks-->
        <div class="col-md-offset-1 col-xs-12 box space contact-info">
          <h2 class="col-xs-12 bg-primary">Action Tasks</h2>
          <div ng-if="!isObjectEmpty(contact.actions)">
              <p>Current Tasks:</p>
              <p>{{contact.actions.task1}}</p>
              <p>{{contact.actions.task2}}</p>
          </div>
          <div ng-if="isObjectEmpty(contact.actions)">
            <p>No actions tasks at the moment</p>
          </div>
        </div> <!-- End of Action Tasks -->
      </aside>
  </section>
  <footer-base></footer-base>

</div>
