<div id="vet-pro" class="vet-dashboard">

  <navbar content="{{navbarvm.activeNav}}"></navbar>
  <!-- Particular spacing -->
  <section class="col-xs-12 container-fluid">
    <div class="space">
    </div>
      <article class="col-xs-12 col-md-8">
        <div class="row">
          <div class="col-xs-12 space box">
            <h2 class="col-xs-12 bg-primary">{{contact.user.name}}</h2>
            <!-- Profile Picture -->
            <div class="col-md-3 col-xs-12 text-center">
              <img src="{{contact.profile.img}}" height=200 />
              <p><button class="btn btn-default">Upload Photo</button><p>
            </div>
            <!-- Basic Information -->
            <div class="col-md-8 col-xs-12 top col-md-offset-1 ">
              <div class="col-md-6 col-sm-5 col-xs-12 col-md-offset-0 col-sm-offset-1">
                <p><strong>Location</strong>: {{contact.user.location}} </p>
                <p><strong>MOS/Rate</strong>: {{contact.user.mos}} </p>
                <p><strong>Branch of Service</strong>: {{contact.branch}} </p>
              </div>
            </div><!-- End of Basic Information -->
          </div> 
        </div>
        <div class="row">
          <div class="col-xs-12 space box">
              <h2 class="col-xs-12 bg-primary">{{contact.user.name}} - Education and Coursework</h2>
              <p>Higher Education:</p>
              <p>{{education.school}}</p>
              <hr>
              <p>Coursework / Training:</p>
              <p>{{education.course}}</p>
              <hr>
              <p>Courses Provided By Us For You:</p>
              <p>{{education.providedCourse}}</p>
              <button ng-click="educationModal()" class="btn btn-primary">View All Items</button>
            </div> 
        </div>
        <div class="row">
            <div class="col-xs-12 space box">
                <h2 class="col-xs-12 bg-primary">{{contact.user.name}} - Career Information</h2>
                <p>Previous Career Fields:</p>
                <p>{{career.prevField1}}</p>
                <hr>
                <p>Previous Employers:</p>
                <p>{{career.prevEmployer1}}</p>
                <hr>
                <p>Goals & Objectives:</p>
                <p>{{career.goal}}</p>
                <button ng-click="careerModal()" class="btn btn-primary">View All Items</button>
              </div> 
        </div>
        <div class="row">
          <div class="col-xs-12 space box">
              <h2 class="col-xs-12 bg-primary">{{contact.user.name}} - Skills</h2>
              <ol ng-if="skills">
                <li ng-repeat="field in skills | limitTo: 1">
                  {{field.skill}}, {{field.amount}}
                </li>
              </ol>
              <!-- Create for loop for given skills and alllow user to delete and add them -->  
              <button ng-click="skillModal()" class="btn btn-primary">View All Items</button>  
          </div> 
        </div>
        <div class="row">
          <div class="col-xs-12 space box">
              <h2 class="col-xs-12 bg-primary">{{contact.user.name}} - Journal and Mentor</h2>
              <p>Record all your career development efforts here!</p>
              <button class="btn btn-primary">View Your Journal</button>
            </div> 
        </div>
        <div class="row">
          <div class="col-xs-12 space box">
              <h2 class="col-xs-12 bg-primary">{{contact.user.name}} - Resume and Portfolio</h2>
              
            </div> 
        </div>
      </article>
    <aside class="col-xs-12 col-md-4">
        <!-- Contact Information -->
        <div class="col-md-offset-1 col-xs-12 box space contact-info">
          <h2 class="col-xs-12 bg-primary">Contact Information</h2>
          <p><strong>Email</strong>: {{contact.user.email}} </p>
          <p><strong>Phone Number</strong>: {{contact.user.phone}} </p>
          <p><strong>LinkedIn Profile</strong>: {{contact.user.linkedin}} </p>
          <p><strong>Skype Username</strong>: {{contact.user.skype}} </p>
        </div> <!-- End of Contact Information -->
        <!-- Action Tasks-->
        <div class="col-md-offset-1 col-xs-12 box space contact-info">
          <h2 class="col-xs-12 bg-primary">Action Tasks</h2>
          <div ng-if="!isObjectEmpty(contact.actions)">
              <p>Current Tasks:</p>
              <p>{{contact.actions.task1}}</p>
              <p>{{contact.actions.task2}}</p>
          </div>
          <div ng-if="isObjectEmpty(contact.actions)">
            <p>No actions tasks at the moment</p>
          </div>
        </div> <!-- End of Action Tasks -->
      </aside>
  </section>
  <!-- The tab layout -->
  <div class="row">
      <div class="col-md-2">
        <div id="tab">
          <!-- Tab Items -->
          <div class="list-group">
            <a href="veteran/{{contact.user.name}}/profile" class="list-group-item active">Profile</a>
            <a href="veteran/{{contact.user.name}}/career" class="list-group-item list-group-item-action">Career Plan</a>
            <a href="veteran/{{contact.user.name}}/internship" class="list-group-item list-group-item-action">Project Internship Tracker</a>
          </div>
        </div>
      </div>
      <div class="col-md-10 equal">

        <!-- ADD IN CONTROLLER INPUT HERE -->
        <div class="col-md-3  col-xs-12 col-sm-12 box gap ">
          <p><span><strong>Career Plan Summary</strong></span></p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil)

        </div>
        <div class="col-md-3 col-xs-12 col-sm-12 col-md-offset-1 box gap">
          <p><span><strong>Internship Match Information</strong></span></p>
          Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. Lorem Ipsum comes from sections 1.10.32 and 1.10.33 of "de Finibus Bonorum et Malorum" (The Extremes of Good and Evil)
        </div>
        <div class="col-md-3  col-xs-12 col-sm-12 col-md-offset-1 box gap">
          <p><span><strong>Availability</strong></span></p>
          <div id="availability">
            <div class="form-group" ng-repeat="available in availability">
              <!-- SYED DEAL WITH THE BS -->
            </div>
          </div>
        </div>
        <span class="clearfix"></span>
      </div>
    </div>
  <footer-base></footer-base>

</div>
