<div id="educationModal">
  <span class="glyphicon glyphicon-remove pull-right" ng-click="educationvm.cancel()"></span>
  <h2>Education Information</h2>
  <p>Please fill out the following fields. If you do noto have one of the following, you may leave it blank.</p>
  <form novalidate method="post" name="education" ng-submit="submit()">
    <div class="row">
      <div class="col-md-12">
        <!-- Information regarding higher education -->
        <h3>Higher Education</h3>
        <div class="form-group">
          <!--
          <button type="button" ng-hide="educationvm.editMode" ng-click="educationvm.triggerEditMode()">Edit</button>
          <button type="button" ng-show="educationvm.editMode" ng-click="educationvm.triggerEditMode()">Done</button>
          --> 
          <p>
              <label form="education" for="school">School: </label>
              <input ng-model="educationvm.school" type="text" class="form-control" name="school" id="school"/>
              <!-- <span ng-hide="educationvm.editMode">{{educationvm.school}}</span> -->
            </p>
            <p>
              <label form="education" for="degree">Degree: </label>
              <input ng-model="educationvm.degree" type="text" class="form-control" name="degree" id="degree"/>
              <!-- <span ng-hide="educationvm.editMode">{{educationvm.degree}}</span> -->
            </p>
            <p>
              <label form="education" form="graduation">Graduation Date: </label>
              <input ng-model="educationvm.grad" type="text" class="form-control" name="graduation" id="graduation"/>
              <!-- <span ng-hide="educationvm.editMode">{{educationvm.grad}}</span> -->
            </p>
        </div>


        <h3>Coursework / Training: </h3>

        <!-- Display list of areas of interest -->
        <div class="form-group">
          <div>
            <h4>Career Focus Area:</h4>
            <p ng-show="educationvm.focusArea.length == 9" class="bg-warning">You may add up to 10 items</p>
            <!-- Add a new area of focus -->
            <div>
              <p>New Career Focus Area:</p>
              <input type="text" ng-model="educationvm.newFocusArea" class="add-btn" />
              <button class="btn" ng-disabled="educationvm.focusArea.length == 9 || !educationvm.newFocusArea" type="button" ng-click="educationvm.addToFocusArea()" class="btn btn-primary">Add</button>
            </div><br />
            <ol ng-if="educationvm.focusArea.length > 0">
              <li ng-repeat="field in educationvm.focusArea track by $index">
                <!-- <span ng-hide="educationvm.editMode">{{field}}</span> -->
                <input type="text" ng-model="field" class="btn btn-success col-"><span class="glyphicon glyphicon-remove" ng-click="educationvm.deleteFocusArea($index)"></span>
              </li>
            </ol>
          </div>
        </div>

        <!-- Display all bootcamps attended -->
        <div>
          <div>
            <h4>Bootcamps:</h4>
            <p ng-show="educationvm.bootcamps.length == 9" class="bg-warning">You may add up to 10 items</p>
            <!-- Add a new area of focus -->
            <div>
              <p>New Career Focus Area:</p>
              <input type="text" ng-model="educationvm.newBootcamp" class="add-btn" />
              <button class="btn" ng-disabled="educationvm.bootcamps.length == 9 || !educationvm.newBootcamp" type="button" ng-click="educationvm.addToBootcamp()" class="btn btn-primary">Add</button>
            </div><br />
            <ol ng-if="educationvm.bootcamps.length > 0">
              <li ng-repeat="field in educationvm.bootcamps track by $index">
                <!-- <span ng-hide="educationvm.editMode">{{field}}</span> -->
                <input type="text" ng-model="field" class="btn btn-success col-"><span class="glyphicon glyphicon-remove" ng-click="educationvm.deleteBootcamp($index)"></span>
              </li>
            </ol>
          </div>
        </div>

        <!-- Display all courses taken -->
        <div class="section">
          <div>
            <h4>Courses:</h4>
            <p ng-show="educationvm.courses.length == 9" class="bg-warning">You may add up to 10 items</p>
            <!-- Add a new area of focus -->
            <div>
              <p>New Career Focus Area:</p>
              <input type="text" ng-model="educationvm.newCourse" class="add-btn" />
              <button class="btn" ng-disabled="educationvm.courses.length == 9 || !educationvm.newCourse" type="button" ng-click="educationvm.addToCourses()" class="btn btn-primary">Add</button>
            </div><br />
            <ol ng-if="educationvm.courses.length > 0">
              <li ng-repeat="field in educationvm.courses track by $index">
                <!-- <span ng-hide="educationvm.editMode">{{field}}</span> -->
                <input type="text" ng-model="field" class="btn btn-success col-"><span class="glyphicon glyphicon-remove" ng-click="educationvm.deleteCourse($index)"></span>
              </li>
            </ol>
          </div>
        </div>

        <!-- Display all certifications -->
        <div class="section">
          <div>
            <h4>Certifications:</h4>
            <p ng-show="educationvm.certifications.length == 9" class="bg-warning">You may add up to 10 items</p>
            <!-- Add a new area of focus -->
            <div>
              <p>New Career Focus Area:</p>
              <input type="text" ng-model="educationvm.newCertification" class="add-btn" />
              <button class="btn" ng-disabled="educationvm.certifications.length == 9 || !educationvm.newCertification" type="button" ng-click="educationvm.addToFocusArea()" class="btn btn-primary">Add</button>
            </div><br />
            <ol ng-if="educationvm.certifications.length > 0">
              <li ng-repeat="field in educationvm.certifications track by $index">
                <!-- <span ng-hide="educationvm.editMode">{{field}}</span> -->
                <input type="text" ng-model="field" class="btn btn-success col-"><span class="glyphicon glyphicon-remove" ng-click="educationvm.deleteCertification($index)"></span>
              </li>
            </ol>
          </div>
        </div>
      </div>

      <!-- Display the education plan provided -->
      <div class="col-md-12">
        <h3>Education Plan: </h3>
        <ul ng-repeat="education in educationvm.plan track by $index">
          <li><input type="text" ng-model="educationvm.content.plan.$index" value="education.value"></li>
        </ul>
        <h4>We will provide more courses to you at a later date</h4>

        <div>
          <p>Education Plan:</p>
          <ol>
            <li ng-repeat="field in educationvm.plans">
              {{field}}
            </li>
          </ol>
        </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center form-group">
          <button ng-click="educationvm.close(educationvm)" class="btn btn-success">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
