<div class="modal-header">
    <h3 class="modal-title comp-name text-center"> Edit Project Description</h3>
</div>

<div class="modal-body">

    <div class="form-group">
        <label for="projectTitle">Project Title</label>
        <input type="text" class="form-control" ng-model="title">
    </div>
    <!-- End of class form-group -->
    <div class="form-group">
        <label for="projectDescription">Project Description</label>
        <textarea class="form-control" ng-model="description"> </textarea>
    </div>
    
    <!-- End of class form-group -->

     <div class="row">
              <label class="col-md-1">Skill:</label>
              <input type="text" ng-model="skillvm.newSkill.skill" class="col-md-3" minlength="1" required="required" name="newSkillSkill"  />
              <label class="col-md-2">Rating(1-5): </label>
              <input type="number" max="5" min="1" required="required" ng-model="skillvm.newSkill.amount" name="newSkillAmount" class="col-md-2" />
              <button ng-class="[{'addEntry':skills.newSkillAmount.$valid && skills.newSkillSkill.$valid}]" ng-disabled="skillvm.user.skill.length == 9 || !skills.newSkillAmount.$valid || !skills.newSkillSkill.$valid" type="button" ng-click="skillvm.addToSkills()" class="btn col-md-1 col-md-offset-1">Add</button>
     </div><br /> <!-- End of class row -->
            <ol ng-if="skillvm.user.skill.length > 0">
                <li ng-repeat="field in skillvm.user.skill track by $index" class="col-xs-12 col-md-5" ng-if="!field.delete">
                    <input type="text" ng-model="field.skill" class="col-xs-12 col-md-7">
                    <input type="number" ng-model="field.amount" class="col-xs-12 col-md-4 col-md-offset-1" max="5" min="1">
                    <p ng-model="field.skillsid"></p> 
                    <span class="glyphicon glyphicon-remove" ng-click="skillvm.deleteSkill($index)"></span>
                  </li>
            </ol>

</div>
<!-- End of classs modal-body -->

<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="postNewDesciption('This is our new description of the roject')">Cancel</button>
    <button class="btn btn-info" type="button" ng-click="cancel()">Save</button>
</div>
<!-- End of class modal-footer -->