<div class="modal-header">
    <h3 class="modal-title comp-name text-center"> Edit Candidate Hours</h3>
</div>
<!-- End of modal-header -->

<div class="modal-body" id="proj-dashboard-Milestones">
    <h2 class="alert alert-danger text-center" ng-if="error">{{error}}</h2>
    <h3 class="alert alert-info text-center" ng-if="error"><a ng-click="getAddOnHours()">Click here to get additional hours for your project!</a> </h3>
    <h2 ng-if="!error"> Remaining hours: {{vm.user.membership_token.totalhours - vm.user.membership_token.currenthours}}</h2>
    <table class="table table-striped col-xs-12">
        <thead>
            <tr>
                <th>Name</th>
                <th>Hours worked</th>
                <th>Checked In?</th>
                <th>Delete</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="intern in interns track by $index">
                <td>{{intern.firstName}} {{intern.lastName}}</td>
                <td><input type="number"min="0" ng-model="intern.hours" ng-change="updateTotalHours(intern)" ng-model-options="{ updateOn: 'blur'}"></td>
                <td ng-if="intern.checkin === 1">Yes</td>
                <td ng-if="intern.checkin != 1">No</td>
                <td ng-click="removeWorkingIntern($index, intern.username)"><span class="glyphicon glyphicon-remove" style="color:red;"></span></td>
            </tr>
        </tbody>

    </table>
</div>

<div class="modal-footer">

    <input class="btn btn-warning" type="button" ng-click="cancel()" value="Cancel"/>
    <input class="btn btn-info" type="button" ng-click="ok()" value="Save" ng-disabled="isDisabled"/>

</div>
<!-- End of class modal-footer -->