<div class="modal-header">
    <h3 class="modal-title comp-name text-center"> Edit Milestones</h3>
</div>
<!-- End of modal-header -->

<div class="modal-body" id="proj-dashboard-Milestones">
    <div ng-repeat="milestone in milestones" style="margin-top: 15px">
        <div class="row">
            <div class="form-group col-md-6">
                <input type="text" class="form-control col-md-6" id="usr" ng-model="milestone.description">
            </div>
            <div class="form-group col-md-3">
                <input type="date" class="form-control col-md-4" id="usr" ng-model="milestone.date">
            </div>

            <div class="form-group col-md-2">
                <select>
                    <option value="overdue">Overdue</option>
                    <option value="critical">Critical</option>
                    <option value="uncritical">Uncritical</option>
                </select>
            </div>
        </div>

        <!-- End of class form-group -->
        <input type="checkbox" name="checkCompleted"> Completed

        <button class="btn btn-warning btn-sm" ng-click="onDelete(milestone)">Delete</button>

    </div>

    <!-- End of ng-repeat milestone in milestone -->
</div>

<!-- End of id proj-dashboard-Milestones -->

<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="onAdd()" style="margin-right:10px">ADD</button>

    <button class="btn btn-warning" type="button" ng-click="ok()">OK</button>
    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>

</div>
<!-- End of class modal-footer -->