/******
Table of Contents:
1. Header
  1.1 Navbar Styles
2. Homepage
3. Veteran and Company Home Page
4. Favorite and Browse intern Pages
  4.1 Spacing styles
  4.2 Form styles
5. Veteran Dashboard
  5.1 Veteran Dashboard
  5.2 Modals
	5.2.1 Modals Input Style
6. Company Portal
  6.1 Company Dashboard
  6.2 Projects Dashboard
  6.3 Favorite Interns
  6.4 Company Membership
   6.4.1 Membership Portal
   6.4.2 Purchase Membership
7. Footer
  7.1 Footer Overall Style
  7.2 Footer center
  7.3 Footer Right
  7.4 Footer Mobile
8. Modals
	8.1 Login Modal
	8.2 Other modals
9. Standardized Colors
   9.1 Standard Colors
*****/

/* 
White - 255, 255, 255 
Grey - 211, 211, 211
Black - 0, 0, 0
Blue - 70, 134, 172
Orange - 247, 159, 75
Red- 240, 0, 0
Light Grey - 241, 241, 241
Gray (1st tier) - 47, 79, 79
Gray (2nd tier) - 179, 179, 179
Brown - 140, 72, 0
Blue - 207, 215, 223
*/

body{
	background-color:rgb(255,255,255);
	font-family: 'Roboto', sans-serif;
	font-size: 15.5px;
}
.glyphicon{
	cursor: pointer;
}

/*******************************

 Section 1: Header

 ******************************/

/*************

Section 1.1 Navbar Styles

*************/

.nav a{
	cursor:pointer;
}
.navbar{
	position:fixed;
    padding-bottom: 10px;
	padding-top: 10px;
}

.navbar-collapse{
    padding-top: 12px;
}

.navbar-collapse a{
	margin-right: 10px;

}

.navbar-nav > li{
  padding-left:0px;
	font-size: 18px;
	font-weight: 700;
}

.navbar .alert{
	margin:0px;
	padding:0px;
}
/**********************************************************
END OF SECTION 1
**********************************************************/

/*********************************

Section 2: Home Page

**********************************/
.home-page #company-pictures h3{
	border-bottom:1px solid rgb(0,0,0);
	border-top:1px solid rgb(0,0,0);
	padding:10px 0px;
}
.home-page #donate {
  height : 90px;
  font-size: 24px;
  margin-bottom:20px;
}
.home-page h3{
  text-align:center
}
.home-page #pics{
  border-radius: 10px;
}
.home-page p{
  padding-left: 20px;
}
/*This is the boxes which take up the center of the page: 4 under Veterans and 4 under Companies*/

.home-page .box {
  margin-bottom:20px;
	padding: 0px;
	background-color: rgb(255,255,255);
	border: 1px solid rgb(70,134,172);
	border-radius: 10px;
	box-shadow:  -1px 1px rgb(70,134,172),
         -2px 2px rgb(70,134,172),
         -3px 3px rgb(70,134,172),
         -4px 4px rgb(70,134,172),
         -5px 5px rgb(70,134,172);
}
.home-page .textBox {
	margin-bottom:20px;
	padding: 0px;
	background-color: rgb(255,255,255);
	border-top: 1px solid rgb(0,0,0);
}

.home-page .vet-container:nth-child(odd), #home-page .com-container:nth-child(even){
	margin-left:12.4% !important;
}

.home-page .textBox p {
	letter-spacing: 1px;
	font-weight: 700;
	line-height: 200%;
	margin: 10px 10px;
	font-size:1.2em;
}
.home-page .box .header {
	color: rgb(0,0,0);
	font-weight: 700;
}
.home-page .match{
	background-color:rgb(211,211,211);
	padding-bottom:15px;
}
.home-page h2 {
	color: rgb(247,159,75);
}
.home-page #match {
	background-color: rgb(255,255,255);
}

.home-page .container-fluid {
	display: flex;
    align-items: stretch;
    flex-wrap: wrap;
}


/**********************************************************
END OF SECTION 2
**********************************************************/

/*********************************

Section 3: Veteran and Company Home Page

**********************************/

/*************

Section 3.1 Element Styles

*************/

/* ask AYo */
container col-lg-12 col-md-12{
   padding: 25px;
}
#comp-page h1, #vet-page h1{
  font-size:55px;
  /********* Changes h1 tags to a different font *********/
  font-family:"Roboto Condensed",sans-serif;
  padding: 100px 0px 20px;
  color: rgb(70,134,172);
}

/*************** Sets the style for hr line underneath how it works and steps ********/
#comp-page hr, #vet-page hr {
    /********** Change if you want a different looking hr line ***************/
    border-style: inset;
    /**************** DO NOT CHANGE **********************/
    border-width: .7px;
    /*************** DO NOT CHANGE *********************/
    width: 94%;
}

#comp-page h2, #vet-page h2{
  font-size:55px;
  font-family:"Roboto Condensed",sans-serif;
  padding: 20px 0px 20px;
  color: rgb(70,134,172);
}

#comp-page h4, #vet-page h4{
  font-size:55px;
  font-family:"Roboto Condensed",sans-serif;
  padding:20px 0px 50px;
  color: rgb(70,134,172);
}

#vet-home-page .match, #comp-page .match{
	margin:25px 0px;
}
/*************

Section 3.2 Classes

*************/

#comp-page .caption, #vet-page .caption {
    position:absolute;
    top:0;
    right:0;
    background:rgba(90, 90, 90, 0.75);
    width:100%;
    height:100%;
    display: none;
    color:rgb(255,255,255) !important;
}

/*********** Matching Company div ***************/
.border{
  /* Took out because it caused a giant gap */
  padding-bottom:5%;
}

/*******************************************************************
Section 4: Favorite and Browse Intern Styles

The two pages work in a very similar manner

.intern is a class that targets the containers that hold each intern information

*******************************************************************/

/********

Section 4.1: Spacing styles

********/

/************************* DO NOT CHANGE PADDING for intern ***********************/

#browse-interns .intern, #fav-intern .intern{
  /****** Change the border color(#000) to the desired color *****/
	border-bottom:1px solid rgb(0,0,0);

  /***** Adds some space between intern profiles for browse-intern and fav-intern pages *****/
	padding:30px;
}

#browse-interns .intern img, #fav-intern .intern img{
  /****** Change only if you want the intern image to change sizes *****/
  /****** DO NOT REMOVE THE !IMPORTANT, otherwise it will break the style and will not take effect ******/
	height:150px !important;

  /****** Changes the vertical alignment of images so they seem more aligned with the text ****/
	margin:50px 0px 0px 0px;
}

/****** Stops the last intern class to have a border at the bottom ******/
#browse-interns .intern:last-child, #fav-intern .intern:last-child{
  border:none;
}

/******* Adds spacing between header and content for the pages ******/
#browse-interns article #fav-intern article{
  margin-top:20px;
}

/**********

Section 4.2: Form styles

************/

/************* Changes the input fields to have only a bottom border when users view it ***************/

#browse-interns .form-control, #fav-intern .form-control{
  box-shadow: none;
  /****** Take this out if you want the input boxes to have a generic look *******/
  border:none;
  border-bottom:1px solid rgb(0,0,0);
  /****** Adds spacing at the bottom of the input fields *******/
  margin:0px 0px 20px 0px;
}

/************ Adds a border around the box that shows the progression of the form **********/
#browse-interns #submit-progression, #fav-intern #submit-progression{
  border:1px solid rgb(0,0,0);
}

/************** Vertically aligns the text within the submit-progression div ************/
#browse-interns #submit-progression p, #fav-intern #submit-progression p {
	display:block;
    margin:25px 0px;
}
/********************* Hides the other pages of the form ******************/
#browse-interns .step, #fav-intern .step{
	display:none;
}
/********************* Displays the current form page. Angular uses this to cycle through the form **************/
#browse-interns .active, #fav-intern .active{
	display:block;
}

/*******End of Form Styles **********/

/**********************************************************
END OF SECTION 4
**********************************************************/

/*******************************************************************

Section 5: Vet Dashboard Styles

*******************************************************************/

/**********

Section 5.1: Veteran Dashboard

************/

.vet-dashboard .container-fluid, .vet-dashboard aside{
	background-color:rgb(211,211,211);
}

.vet-dashboard aside{
	height:100%;
	position:fixed;
	right:0px;
}
.vet-dashboard .space, #describeYourself {
	margin-top: 20px;
	margin-bottom: 20px;
}

.vet-dashboard aside div{
	margin-bottom:0px !important;
	width:90%;
}
.vet-dashboard .gap, #comp-dash .gap, #contact .gap {
  margin-bottom: 40px;
}

.vet-dashboard #tab {
  padding: 100px 0;
}

.vet-dashboard .top {
  padding-top: 20px;
  padding-right: 20px;
  overflow-wrap: break-word;
}

.vet-dashboard .box, #comp-dash .box, #describeYourself {
	background-color:rgb(255,255,255);
  	padding: 10px;
}

.vet-dashboard .equal, .home-page .equal {
  display: flex;
  display: -webkit-flex;
  flex-wrap: wrap;
}

.vet-dashboard .center {
  text-align: center;
  list-style-position:inside;
}

.vet-dashboard .bg-primary, #describeYourself h2{
	background-color:rgb(247,159,75) !important;
	margin-bottom:15px;
	text-transform:capitalize;
}

.vet-dashboard footer{
	margin:0px;
}

/**********

Section 5.2.1: Modal Input styles

************/

.form-group ol, .skillsModal{
	list-style-type:none;
}

.form-group ol li{
	display: inline-block !important;
	margin:5px 10px 5px 0px !important;
}

.form-group input{
	background-color:rgb(211,211,211);
	border:1px solid rgb(247,159,75);
	font-size:1em;
}

.form-group input:hover, .form-group input:focus{
	background-color:rgb(247,159,75);
	border:1px solid rgb(211,211,211);
}

.form-group ol input{
	height: 30px;
    text-align: center;
}

.form-group .addEntry{
	background-color:rgb(247,159,75);
	border:1px solid rgb(211,211,211);
}

.add-btn{
	border:1px solid rgb(211,211,211);
}

.progress{
	padding:0px;
}

.glyphicon-pencil{
	font-size:20px !important;
	margin-top:4px !important;
}

.glyphicon-pencil:hover{
	color:blue !important;
}

.close-btn {
    color: rgb(240,0,0);
    font-size: 1.3em;
	padding: 3px;
	transition:.5s all;
}

.close-btn:hover{
	background-color: rgb(255,255,255);
    color: rgb(250,0,0);
}

.form-group .glyphicon-remove{
	color:rgb(240,0,0);
	position: absolute;
	top:-5px;
	right:10px;
	font-size:1em;
}

.error{
	border:1px solid red;
}
.success{
	border:1px solid green;
}

.vetModal .modal-content{
	background-color:rgb(255,255,255);
	padding:15px;
}

.vetModal .modal-dialog{
	min-width:100% !important;
}
/**********************************************************
END OF SECTION 5
**********************************************************/

/**********

Section 6: company pages

************/

/**********

Section 6.1: company dashboard

************/

#comp-name{
	background-color: rgb(247,159,75);
	padding-bottom: 15px;
	padding-top: 15px;
	border-bottom: 4px solid darkgray;
}
#describeYourself{
	background-color:rgb(211, 211, 211);
}

/**********

Section 6.2: projects dashboard

************/

#proj-dash {
	background-color:rgb(236,236,236);
}

#proj-dash .sidenav {
background-color: white;
height: 100%;
margin-top: 20px;
}

#proj-dash .well {
	background: white;
	border-radius: 0px;
}

#proj-dash button {
	background:rgb(249,159,75);
}

#proj-dash .title {
	background-color: rgb(249,159,75);
	padding: 5px;
	color: white;
	border-bottom: 5px solid lightgray;
}

#proj-dash #proj-description-pane {
	margin-top: 20px;
}

#proj-dash #proj-description-pane button{
	margin-left: 10px;
}

#proj-dash #proj-description-pane .title{
	position: relative;
	top: -5px;
}

#proj-dash #proj-description{
	padding: 10px;
}


#proj-dash #Milestones button {
	margin-left: 0px;
	margin-top: 10px;
}

#proj-dash #Milestones h4 {
margin-left: 20px;
}


#proj-dash #interns {
	color: black;
}

#proj-dash #interns button{
	margin-top: 10px;
}

#proj-dash .teammember {
margin: 5px;
background-color: rgb(255,255,255);
}

#proj-dash .task{
color: black;
border-bottom: 3px solid rgb(247,159,75);
padding: 5px;
}

#proj-dash .task .completionText{
color: rgb(240,0,0);
}

#proj-dash .task .completionDate{
margin-left: 4px;
margin-right: 4px;
color: rgb(47,79,79);
}

#proj-dash .stat {
	margin-top: 20px;
}

#proj-dashboard-Milestones button{
	margin-left: 20px;
}

/**********

Section 6.3: favorite-itern

************/

.INTERN {
	border-bottom: 2px solid rgb(179,179,179);
	min-height: 200px;
	padding: 10px;

	text-align: left;

}

.specialText {
	background-color: rgb(211,211,211);
	color: rgb(140, 72, 0);
	padding: 3px;
	display: table;
}




/**********

Section 6.4: Purchase Membership

************/

.StripeElement {
	background-color: rgb(0,0,0);
	height: 40px;
	padding: 10px 12px;
	border-radius: 4px;
	border: 1px solid transparent;
	box-shadow: 0 1px 3px 0 rgb(230,235,241);
	-webkit-transition: box-shadow 150ms ease;
	transition: box-shadow 150ms ease;
}


.StripeElement--focus {
	box-shadow: 0 1px 3px 0 rgb(207,215,223);
}

.StripeElement--invalid {
	border-color: rgb(250,117,90);
}

.StripeElement--webkit-autofill {
	background-color: rgb(254,253,229) !important;
}

#purchaseMembership h3 {
	padding: 20px 0px;
	border-bottom: 2px solid rgb(247, 159, 75);
	text-align: center;
}

#purchaseMembership ul {
	list-style-type: none;
	padding: 0px;
	text-align: center;
}

#purchaseMembership ul li {
	margin-bottom: 20px;
}

#purchaseMembership #discount-notification {
	margin-top: 20px;
}

.payOption {
	padding: 0px;
}


#purchaseMembership #monthMembership {
	background-color: rgb(211, 211, 211);
}

#purchaseMembership #quarterlyMembership {
	background-color: rgb(247, 159, 75);
}

#purchaseMembership #quarterlyMembership h3 {
	border-bottom: 2px solid rgb(211, 211, 211);
}


#purchaseMembership #annualMembership {
	background-color: rgb(211, 211, 211);
}

/*
Gray - 169, 169, 169
*/
#purchaseMembership h1 {
	background-color: rgb(247, 159, 75);
	border-bottom: 5px solid rgb(169,169,169);
	padding: 10px 0px;
}

/*
Blue - 83, 131, 211
*/
#purchaseMembership .paySubmit {
	color: rgb(0,0,0);
	padding: 20px 0px;
	background-color: rgb(83,131,211);
	transition: 0.5s all;
}

#purchaseMembership .paySubmit:hover {
	color: rgb(0,0,0);
}



/**********

Section 6.4.1: Purchase Membership Portal

************/

.compModal .modal-dialog{
	width:100%;
}

#membershipPaymentModal h2{
	margin:0px 0px 40px 0px;
	padding:30px 10px;
	color:rgb(255,255,255);
	background-color:rgb(247,159,75);
}
#membershipPaymentModal form{
	padding:0px;
}

.submitBtn{
	background-color:rgb(211,211,211);
	padding:30px 0px;
}
.payAlert{
	display:none;
}

#membershipPaymentModal .glyphicon-remove{
	color:rgb(255,0,0);
	position: absolute;
	top:5px;
	right:10px;
	font-size:1em;
	z-index:9999999;
}

/**********

Section 6.4.2: Purchase Membership Discount

************/

#requestDiscount h1 {
	background-color: rgb(247, 159, 75);
	border-bottom: 5px solid rgb(169,169,169);
	padding: 10px 0px;
}

/*******************************************************************

Section 7: Footer

*******************************************************************/

/**********

Section 7.1: footer overall styles

************/
/*
Black - 41, 44, 47
*/
.footer-distributed{
	background-color: rgb(41,44,47);
	font-size:16px;
	padding: 70px 50px;
	margin:30px 0px 0px 0px;
	padding-top:5px;
	padding-bottom:5px;
}

/*
About the Oweyaa container margin-top to 60px
*/
.footer-right{
	margin-top:90px;
	padding-left:100px;
}

/*
About the company info container margin between icon change to zero
*/
footer .comp-info{
  margin:0px;
}

footer .comp-info p{
  margin-top:0px;
}

/* The company logo */

.footer-distributed h3{
	color:  rgb(0,0,0);
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}
/*
Blue - 83, 131, 211
*/
.footer-distributed h3 span{
	color:  rgb(83,131,211);
}

/* Footer links */

.footer-distributed .footer-links{
	margin: 20px 0 12px;
	padding: 0;
}

/*
Gray - 157, 157, 157
*/
.footer-distributed .footer-links a{
	color:rgb(157,157,157);
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
}

.footer-distributed .footer-links a:hover{
	color:rgb(0,0,0);
}
/*
Gray - 143, 146, 150 
*/
.footer-distributed .footer-company-name{
	color:  rgb(143,146,150);
	font-size: 14px;
	font-weight: normal;
}

/**********

Section 7.2: Footer Center

************/

.footer-center{
	margin-top:80px;
	padding-left:50px;
}
/*
Black - 51, 56, 59
*/
.footer-distributed .footer-center i{
	background-color:  rgb(51,56,59);
	color: rgb(255,255,255);
	font-size: 25px;
	width: 38px;
	height: 38px;
	line-height: 42px;
	margin: 10px 15px;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: rgb(255,255,255);
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

/*
Blue - 83, 131, 211
*/
.footer-distributed .footer-center p a{
	color:  rgb(83,131,211);
	text-decoration: none;;
}

/**********

Section 7.3: Footer Right

************/

/*
Gray - 146, 153, 159
*/
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  rgb(146,153,159);
	font-size: 13px;
	font-weight: normal;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  rgb(255, 255,255);
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

/*
Black - 51, 56, 59
*/
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  rgb(51,56,59);
	border-radius: 2px;

	font-size: 20px;
	color: rgb(255,255,255);
	text-align: center;
	line-height: 35px;

	margin-right: 5px;
	margin-bottom: 5px;
}

/**********

Section 7.3: Footer Left

************/

.footer-left{
	margin-top: 40px;
}

/**********

Section 7.4: Footer Mobile

************/
@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}
/**********************************************************
END OF SECTION 7
**********************************************************/

/*********************************************************
Section 8: Modals
*********************************************************/

/********
Section 8.1 Login Modal
*******/

/*
White - 217, 217, 217
*/
.login .modal-content{
	background-color:rgb(217, 217, 217);
}

#loginUserType{
	margin-top:15px;
}

#loginModal .login-image{
	height:200px;
}

.login .modal-dialog{
	width:100%;
}

/*
White - 191, 191, 191
*/
#loginVeteran{
	background-color:rgb(191,191,191);
	color:rgb(0,0,0);
	position: relative;
	transition:.5s all;
}

#loginVeteran:hover{
	border:2px solid rgb(0,0,0);
	color:rgb(255,255,255);
	font-weight:900;
}

#loginCompany{
	background-color:rgb(247,159,75);
	color:rgb(0,0,0);
	transition:.5s all;
}

#loginCompany:hover{
	border:2px solid rgb(0,0,0);
	color:rgb(255,255,255);
	font-weight: 900;
}

.login-image h3{
	position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}

.login-image{
	cursor:pointer;
}

/*
Blue - 0, 0, 255
*/
#changeLoginForm{
	color:rgb(0,0,255);
	cursor: pointer;
}

[name="loginModal"] h2{
	background-color:rgb(211,211,211);
	color:rgb(0,0,0);
	padding:10px 0px;
}

[name="loginModal"] input {
	border:2px solid rgb(247,159,75);
	height:50px;
	transition:.5s all;
}

[name="loginModal"] button{
	height:50px;
}

#loginOptions{
	margin-top:15px;
	padding:0px;
	text-align: center;
}
/*
White - 191, 191, 191
White - 255, 255, 255
*/
#loginOptions a:first-child{
	padding:15px 0px;
	background-color:rgb(191, 191, 191);
	color:rgb(255,255,255);
	font-size:1.2em;
	transition:.5s all;
}

#loginOptions a:last-child{
	padding:15px 0px;
	background-color:rgb(247,159,75);
	color:rgb(0,0,0);
	font-size:1.2em;
	transition:.5s all;
}

/*
Blue - 83, 131, 211
*/
#loginOptions a:hover{
	color:rgb(83,131,211);
}

/********
Section 8.2 Other Modals
********/

#actionModal, #careerModal, #educationModal, #journalModal, #skillModal, #socialModal   {
	background-color:rgb(255,255,255);
}

/**********************************************************
END OF SECTION 8
**********************************************************/
section{
	margin-top:87px !important;
}

.nav-message{
	position:fixed;
	top:85px;
	z-index:9999999999;
}

/*******************************

 Section 9: Standardized Colors

 ******************************/

.std-gray{
	color: 236,236,236
}

.std-orange{
	color: 249,159,75
}

.std-blue-small{
	color: 51, 102, 255
}

.std-blue-large{
	color: 70, 134, 172
}


