<span class="glyphicon glyphicon-remove close-btn pull-right" ng-click="contactvm.cancel()"></span>
<div id="contactModal" class="row col-xs-12">
    <form novalidate method="post" name="contact" ng-submit="submit()" class="col-xs-12">
        <fieldset>
            <legend>Contact Information</legend>
            <p>Please fill out the following fields. If you do not have one of the following, you may leave it blank.</p>
            <div class="row col-xs-12">
                <div class="form-group">
                    <label form="contact" for="email">Email: </label>
                    <input ng-model="contactvm.user.contact_info.email" type="text" class="form-control" name="email" />
                </div>
                <!-- End of class form-group -->
                <div class="form-group">
                    <label form="contact" for="phone">Phone Number: </label>
                    <input ng-model="contactvm.user.contact_info.phone" type="text" class="form-control" name="phone" />
                </div>
                <!-- End of class form-group -->
                <div class="form-group" ng-repeat="(key,connect) in contactvm.user.social track by $index">
                    <label form="contact" for="key">{{key}}: </label>
                    <input ng-model="contactvm.user.social[key]" type="text" class="form-control" name="{{key}}" />
                </div>
                <!-- End of ng-repeat contactvm.user.social -->
            </div>
            <!-- End of class row col-xs-12 -->
            <div class="row">
                <div class="col-xs-12">
                    <div class="text-center form-group">
                        <p ng-show="contactvm.formError" class="alert alert-danger" ng-bind-html="contactvm.formError"></p>
                        <p ng-show="contactvm.formInfo" class="alert alert-success" ng-bind-html="contactvm.formInfo"></p>

                        <input ng-click="contactvm.cancel()" class="btn btn-warning" type="button" value="Close"/>
                        <input ng-click="contactvm.onSubmit('social',contactvm.user)" ng-disabled="contactvm.isDisabled"class="btn btn-info" type="button" value="Save"/>
                    </div>
                    <!-- End of class text-center form-group -->
                </div>
                <!-- End of class col-xs-12 -->
            </div>
            <!-- End of class row -->
        </fieldset>
    </form>
</div>
<!-- End of id contactModal -->