<span class="glyphicon glyphicon-remove close-btn pull-right" ng-click="contactvm.cancel()"></span>
<div id="contactModal">
    <h2>Contact Information</h2>
    <p>Please fill out the following fields. If you do noto have one of the following, you may leave it blank.</p>
    <p ng-show="contactvm.formError" class="alert alert-danger" ng-bind-html="contactvm.formError"></p>
    <p ng-show="contactvm.formInfo" class="alert alert-success" ng-bind-html="contactvm.formInfo"></p>
    <form novalidate method="post" name="contact" ng-submit="submit()">
      <div class="row col-xs-12">
          <div class="form-group">
                    <label form="contact" for="email">Email: </label>
                    <input ng-model="contactvm.user.contact_info.email" type="text" class="form-control" name="email"/>
          </div>
          <div class="form-group">
                    <label form="contact" for="phone">Phone Number: </label>
                    <input ng-model="contactvm.user.contact_info.phone" type="text" class="form-control" name="phone"/>
          </div>
          <div class="form-group" ng-repeat="(key,connect) in contactvm.user.social track by $index">
                <label form="contact" for="key">{{key}}: </label>
                <input ng-model="contactvm.user.social[key]" type="text" class="form-control" name="{{key}}"/>
          </div>
          </div>
       <div class="row">
        <div class="col-xs-12">
            <div class="text-center form-group">
                <button ng-click="contactvm.cancel()" class="btn btn-success">Close</button>
                <button ng-click="contactvm.onSubmit('social',contactvm.user)" class="btn btn-primary">Save</button>
            </div>
        </div>
        </div>       
    </form>
</div>