<div id="contactModal">
    <span class="glyphicon glyphicon-remove pull-right" ng-click="contactvm.cancel()"></span>
    <h2>contact Information</h2>
    <p>Please fill out the following fields. If you do noto have one of the following, you may leave it blank.</p>
    <form novalidate method="post" name="contact" ng-submit="submit()">
      <div class="row">
        <div class="col-md-12">
          <!-- Information regarding higher contact -->
          <h3>Building Connections</h3>
          <div class="form-group" ng-repeat="(key,connect) in contactvm.user.social`` track by $index">
            <p>
                <label form="contact" for="key">{{key}}: </label>
                <input ng-model="contact[key]" type="text" class="form-control" name="key"/>
                <!-- <span ng-hide="contactvm.editMode">{{contactvm.school}}</span> -->
              </p>
          </div>
          </div>
       </div>   
       <div class="row">
        <div class="col-xs-12">
            <div class="text-center form-group">
            <button ng-click="contactvm.close(contactvm)" class="btn btn-success">Close</button>
            </div>
        </div>
        </div>       
    </form>
</div>