<div id="careerModal">
  <form novalidate method="post" name="careervm.content" ng-submit="submit()">
    <div class="row">
      <div class="col-md-12">
      <!-- Display all courses taken -->
      <div class="form-group">
        <div>
          <h4>Courses:</h4>
          <p ng-show="educationvm.courses.length == 9" class="bg-warning">You may add up to 10 items</p>
          <!-- Add a new area of focus -->
          <div>
            <p>New Courses:</p>
            <input type="text" ng-model="educationvm.newCourse" class="add-btn" />
            <button class="btn" ng-disabled="educationvm.courses.length == 9 || !educationvm.newCourse" type="button" ng-click="educationvm.addToCourses()" class="btn btn-primary">Add</button>
          </div><br />
          <ol ng-if="educationvm.courses.length > 0">
            <li ng-repeat="field in educationvm.courses track by $index">
              <!-- <span ng-hide="educationvm.editMode">{{field}}</span> -->
              <input type="text" ng-model="field" class="btn btn-success col-"><span class="glyphicon glyphicon-remove" ng-click="educationvm.deleteCourse($index)"></span>
            </li>
          </ol>
        </div>
      </div>
      <div class="col-md-5 col-md-offset-2">
        <!-- Display all interests and hobbies -->
        <div class="section">
          <div>
            <h3>Interests / Hobbies:</h3>
            <!-- Editing Purposes -->
            <button class="btn" type="button" ng-click="careervm.triggerEditMode()" ng-hide="careervm.editMode">Edit</button>
            <button class="btn" type="button" ng-click="careervm.triggerEditMode()" ng-show="careervm.editMode">Done</button>
            <!-- Actual list of interests and hobbies -->
            <ol>
              <li ng-repeat="field in careervm.hobbies track by $index">
                <span ng-hide="careervm.editMode">{{field}}</span>
                <input type="text" ng-show="careervm.editMode" ng-model="careervm.hobbies[$index]">
                <button class="btn" type="button" ng-click="careervm.deleteHobby($index)" ng-hide="careervm.editMode">Delete</button>
              </li>
            </ol>
          </div>
          <div class="form-group">
            <!-- Add a new field -->
            <div>
              <p>Add your previous employer:</p>
              <input type="text" ng-model="careervm.newHobby">
              <button class="btn" type="button" ng-click="careervm.addToHobbies()">Add</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Relocation Information -->
      <div>
        <h3>Willing to relocate?</h3>
        <label form="relocate">Yes: </label>
        <input type="radio" name="relocate" value="yes">
        <label form="relocate">No: </label>
        <input type="radio" name="relocate" value="no">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center form-group">
          <button ng-click="careervm.close()" class="btn btn-success" type="submit">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
