<div id="careerModal">
  <form novalidate method="post" name="careervm.content" ng-submit="submit()">
    <div class="row">
      <div class="col-md-5">
        <!-- Display All Career Fields Taken In The Past -->
        <div class="section">
          <div>
            <h3>Previous Career Fields:</h3>
            <!-- Editing Purposes -->
            <button class="btn" type="button" ng-click="careervm.triggerEditMode()" ng-hide="careervm.editMode">Edit</button>
            <button class="btn" type="button" ng-click="careervm.triggerEditMode()" ng-show="careervm.editMode">Done</button>
            <!-- Actual list of previous career fields -->
            <ol>
              <li ng-repeat="field in careervm.prevCareer track by $index">
                <span ng-hide="careervm.editMode">{{field}}</span>
                <input type="text" ng-show="careervm.editMode" ng-model="careervm.prevCareer[$index]">
                <button class="btn" type="button" ng-click="careervm.deletePrevCareer($index)" ng-hide="careervm.editMode">Delete</button>
              </li>
            </ol>
          </div>
          <div class="form-group">
            <!-- Add a new field -->
            <div>
              <p>Add your previous career field:</p>
              <input type="text" ng-model="careervm.newPrevCareer">
              <button class="btn" type="button" ng-click="careervm.addToPrevCareer()">Add</button>
            </div>
          </div>
        </div> <!-- Section div -->

        <div class="section">
          <!-- Display all previous employers -->
          <div>
            <h3>Previous Employers:</h3>
            <!-- Editing Purposes -->
            <button class="btn" type="button" ng-click="careervm.triggerEditMode()" ng-hide="careervm.editMode">Edit</button>
            <button class="btn" type="button" ng-click="careervm.triggerEditMode()" ng-show="careervm.editMode">Done</button>
            <!-- Actual list of previous employers -->
            <ol>
              <li ng-repeat="field in careervm.prevEmpl track by $index">
                <span ng-hide="careervm.editMode">{{field}}</span>
                <input type="text" ng-show="careervm.editMode" ng-model="careervm.prevEmpl[$index]">
                <button class="btn" type="button" ng-click="careervm.deletePrevEmpl($index)" ng-hide="careervm.editMode">Delete</button>
              </li>
            </ol>
          </div>
          <div class="form-group">
            <!-- Add a new field -->
            <div>
              <p>Add your previous employer:</p>
              <input type="text" ng-model="careervm.newPrevEmpl">
              <button class="btn" type="button" ng-click="careervm.addToPrevEmpl()">Add</button>
            </div>
          </div>
        </div>

        <div class="section">
          <!-- Display all fields of interest -->
          <div>
            <h3>New Fields:</h3>
            <!-- Editing Purposes -->
            <button class="btn" type="button" ng-click="careervm.triggerEditMode()" ng-hide="careervm.editMode">Edit</button>
            <button class="btn" type="button" ng-click="careervm.triggerEditMode()" ng-show="careervm.editMode">Done</button>
            <!-- Actual list of new fields -->
            <ol>
              <li ng-repeat="field in careervm.newFields track by $index">
                <span ng-hide="careervm.editMode">{{field}}</span>
                <input type="text" ng-show="careervm.editMode" ng-model="careervm.newFields[$index]">
                <button class="btn" type="button" ng-click="careervm.deleteNewField($index)" ng-hide="careervm.editMode">Delete</button>
              </li>
            </ol>
          </div>
          <div class="form-group">
            <!-- Add a new field -->
            <div>
              <p>Enter a field of interest:</p>
              <input type="text" ng-model="careervm.newField">
              <button class="btn" type="button" ng-click="careervm.addToNewFields()">Add</button>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-5 col-md-offset-2">
        <!-- Display all interests and hobbies -->
        <div class="section">
          <div>
            <h3>Interests / Hobbies:</h3>
            <!-- Editing Purposes -->
            <button class="btn" type="button" ng-click="careervm.triggerEditMode()" ng-hide="careervm.editMode">Edit</button>
            <button class="btn" type="button" ng-click="careervm.triggerEditMode()" ng-show="careervm.editMode">Done</button>
            <!-- Actual list of interests and hobbies -->
            <ol>
              <li ng-repeat="field in careervm.hobbies track by $index">
                <span ng-hide="careervm.editMode">{{field}}</span>
                <input type="text" ng-show="careervm.editMode" ng-model="careervm.hobbies[$index]">
                <button class="btn" type="button" ng-click="careervm.deleteHobby($index)" ng-hide="careervm.editMode">Delete</button>
              </li>
            </ol>
          </div>
          <div class="form-group">
            <!-- Add a new field -->
            <div>
              <p>Add your previous employer:</p>
              <input type="text" ng-model="careervm.newHobby">
              <button class="btn" type="button" ng-click="careervm.addToHobbies()">Add</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Relocation Information -->
      <div>
        <h3>Willing to relocate?</h3>
        <label form="relocate">Yes: </label>
        <input type="radio" name="relocate" value="yes">
        <label form="relocate">No: </label>
        <input type="radio" name="relocate" value="no">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center form-group">
          <button ng-click="careervm.close()" class="btn btn-success" type="submit">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
