<div id="careerModal">
  <form novalidate method="post" name="career" ng-submit="submit()">
    <div class="row">
      <div class="col-md-12">
      <!-- Information regarding higher education -->
      <h3>Previous Career</h3>
      <div class="form-group" ng-repeat="career in careervm.prevCareer track by $index">
        <div>
          <label form="career" for="prev{{$index}}">Previous Employer {{$index + 1}}: </label>
          <input ng-model="career.empl" type="text" class="form-control" name="empl{{$index}}" id="prev{{$inde}}empl"/>
          <!-- <span ng-hide="educationvm.editMode">{{educationvm.school}}</span> -->
        </div>
        <div>
          <label form="career" for="prevContact{{$index}}">Contact: </label>
          <input ng-model="career.contact" type="text" class="form-control" name="contact{{$index}}" id="prevContacte{{$index}}"/>
          <!-- <span ng-hide="educationvm.editMode">{{educationvm.degree}}</span> -->
        </div>
        <div>
          <label form="career" form="prevTo{{$index}}">To: </label>
          <input ng-model="career.to" type="date" class="form-control" name="to{{$index}}" id="prevTo{{$index}}"/>
          <!-- <span ng-hide="educationvm.editMode">{{educationvm.grad}}</span> -->
        </div>
        <div>
          <label form="career" form="prevFrom{{$index}}">From: </label>
          <input ng-model="career.from" ng-disabled="career.present" type="date" class="form-control" name="from{{$index}}" id="prevFrom{{$index}}"/>
          <p class="pull-left">Present:</p><input type="checkbox" class="" ng-model="career.present" />
          <!-- <span ng-hide="educationvm.editMode">{{educationvm.grad}}</span> -->
        </div>
      </div>
      <div class="col-md-5 col-md-offset-2">
        <!-- Display all interests and hobbies -->
        <div class="section">
          <div>
            <h3>Interests / Hobbies:</h3>
            <!-- Editing Purposes -->
            <button class="btn" type="button" ng-click="careervm.triggerEditMode()" ng-hide="careervm.editMode">Edit</button>
            <button class="btn" type="button" ng-click="careervm.triggerEditMode()" ng-show="careervm.editMode">Done</button>
            <!-- Actual list of interests and hobbies -->
            <ol>
              <li ng-repeat="field in careervm.hobbies track by $index">
                <span ng-hide="careervm.editMode">{{field}}</span>
                <input type="text" ng-show="careervm.editMode" ng-model="careervm.hobbies[$index]">
                <button class="btn" type="button" ng-click="careervm.deleteHobby($index)" ng-hide="careervm.editMode">Delete</button>
              </li>
            </ol>
          </div>
          <div class="form-group">
            <!-- Add a new field -->
            <div>
              <p>Add your previous employer:</p>
              <input type="text" ng-model="careervm.newHobby">
              <button class="btn" type="button" ng-click="careervm.addToHobbies()">Add</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Relocation Information -->
      <div>
        <h3>Willing to relocate?</h3>
        <label form="relocate">Yes: </label>
        <input type="radio" name="relocate" value="yes">
        <label form="relocate">No: </label>
        <input type="radio" name="relocate" value="no">
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center form-group">
          <button ng-click="careervm.close()" class="btn btn-success" type="submit">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
