<span class="glyphicon glyphicon-remove close-btn pull-right" ng-click="compSet.cancel()"></span>
<div id="contactModal">
    <fieldset>
    <legend>Update Information</legend>
    <p>Please fill out the following fields. If you do not have one of the following, you may leave it blank.</p>
    <form novalidate method="post" name="contact" ng-submit="submit()">
      <div class="row col-xs-12">

          <div class="form-group">
                    <label form="contact" for="name">Name: </label>
                    <input ng-model="compSet.user.company_info.name" type="text" class="form-control" name="name"/>
          </div> <!-- End of class form-group -->
          
          <div class="form-group">
                    <label form="contact" for="industry">Industry: </label>
                    <input ng-model="compSet.user.company_info.industry" type="text" class="form-control" name="industry"/>
          </div> <!-- End of class form-group -->
          
          <div class="form-group">
                    <label form="contact" for="location">Location: </label>
                    <input ng-model="compSet.user.company_info.location" type="text" class="form-control" name="location"/>
          </div> <!-- End of class form-group -->

          <div class="form-group">
                    <label form="contact" for="email">Email: </label>
                    <input ng-model="compSet.user.company_info.email" type="text" class="form-control" name="email"/>
          </div> <!-- End of class form-group -->

          <div class="form-group">
                    <label form="contact" for="phone">Phone Number: </label>
                    <input ng-model="compSet.user.company_info.phone" type="text" class="form-control" name="phone"/>
          </div> <!-- End of class form-group -->
          
          <div class="form-group">
                    <label form="contact" for="pointofcontact">Point of Contact: </label>
                    <input ng-model="compSet.user.company_info.pointofcontact" type="text" class="form-control" name="contact"/>
          </div> <!-- End of class form-group -->
          
          <div class="form-group">
                    <label form="contact" for="employee"> Employee: </label>
                    <input ng-model="compSet.user.company_info.employee" type="text" class="form-control" name="employee"/>
          </div> <!-- End of class form-group -->

          <!-- Ask company to input annual revenue -->
          <div class="form-group">
                    <label form="contact" for="revenue">Annual Revenue: </label>
                    <input ng-model="compSet.user.company_info.revenue" type="text" class="form-control" name="revenue"/>
          </div> <!-- End of class form-group -->

          <!-- Ask company to input number of employees -->
          <div class="form-group">
                    <label form="contact" for="numofcompanies">Number of Companies: </label>
                    <input ng-model="compSet.user.company_info.numofcompanies" type="text" class="form-control" name="numofcompanies"/>
          </div> <!-- End of class form-group -->

          <div class="form-group" ng-repeat="(key,connect) in compSet.user.social track by $index">
                <label form="contact" for="key">{{key}}: </label>
                <input ng-model="compSet.user.social[key]" type="text" class="form-control" name="{{key}}"/>
          </div> <!-- End of ng-repeat compSet.user.social -->
          </div> <!-- End of class row col-xs-12 -->
    </fieldset>
       <div class="row">
        <div class="col-xs-12">
            <div class="text-center form-group">
                <button ng-click="compSet.cancel()" class="btn btn-warning">Close</button>
                <button ng-click="compSet.onSubmit('compSet',compSet.user)" class="btn btn-info">Save</button>
            </div> <!-- End of class text-center form-group -->
        </div> <!-- End of class col-xs-12 -->
        </div> <!-- End of class row -->
    </form>
</div> <!-- End of id contactModal -->
