<div id="journalModal">
    <span class="glyphicon glyphicon-remove close-btn pull-right" ng-click="journalvm.cancel()"></span>
    <h2>Journal Information</h2>
    <p>Please fill out the following fields. If you do noto have one of the following, you may leave it blank.</p>
    <p ng-show="journalvm.formError" class="alert alert-danger" ng-bind-html="journalvm.formError"></p>
    <p ng-show="journalvm.formInfo" class="alert alert-success" ng-bind-html="journalvm.formInfo"></p>
    <form novalidate method="post" name="journal" ng-submit="submit()">
      <div class="row">
        <div class="col-md-12">
          <!-- Information regarding higher journal -->
          <h3>Building Connections</h3>
          <div class="form-group" ng-repeat="connect in journalvm.user.interviews track by $index">
              <h3>Interview {{$index + 1}}</h3>
            <p>
                <label form="journal" for="company{{$index}}">Company: </label>
                <input ng-model="connect.company" type="text" class="form-control" name="copmany{{$index}}"/>
                <!-- <span ng-hide="journalvm.editMode">{{journalvm.school}}</span> -->
              </p>
              <p>
                <label form="journal" for="date{{$index}}">Date: </label>
                <input ng-model="connect.date" type="date" class="form-control" name="date{{$index}}"/>
                <!-- <span ng-hide="journalvm.editMode">{{journalvm.degree}}</span> -->
              </p>
              <p>
                <label form="journal" form="contact{{$index}}">Contact: </label>
                <input ng-model="connect.contact" type="text" class="form-control" name="contact{{$index}}"/>
                <!-- <span ng-hide="journalvm.editMode">{{journalvm.grad}}</span> -->
              </p>
              <p>
                <label form="journal" form="notes{{$index}}">Notes: </label>
                <input ng-model="connect.notes" type="text" class="form-control" name="notes{{$index}}"/>
                <!-- <span ng-hide="journalvm.editMode">{{journalvm.grad}}</span> -->
              </p>
          </div> <!-- End of ng-repeat=connect in journalvm.user.interviews -->
          </div> <!-- End of class col-md-12 -->
       </div> <!-- End of class row --> 
       <div class="row col-md-12">
            <!-- Information regarding higher journal -->
            <h3>Events</h3>
            <div class="form-group" ng-repeat="connect in journalvm.user.events track by $index">
                <h3>Event {{$index + 1}}</h3>
                <p>
                    <label form="journal" for="title{{$index}}">Company: </label>
                    <input ng-model="connect.eventname" type="text" class="form-control" name="company{{$index}}" />
                </p>
                <!-- Add add to items list like skills
                <p>
                    <label form="journal" for="date{{$index}}">Date: </label>
                    <input ng-model="connect.date" type="date" class="form-control" name="date{{$index}}"/>
                </p> -->
            </div> <!-- End of ng-repeat=connect in journalvm.user.event -->
        </div> <!-- End of class row col-md-12 -->
        <div class="row col-md-12">
            <!-- Information regarding higher journal -->
            <h3>Mentor Information</h3>
            <div class="form-group">
                <p>
                    <label form="journal" for="mentorName">Mentor Name: </label>
                    <input ng-model="journalvm.user.mentor.mentorname" type="text" class="form-control" name="mentorname" />
                </p>
                <p>
                    <label form="journal" for="location">Mentor Location: </label>
                    <input ng-model="journalvm.user.mentor.location" type="text" class="form-control" name="location" />
                </p>
                <p>
                    <label form="journal" for="email">Mentor Email: </label>
                    <input ng-model="journalvm.user.mentor.email" type="text" class="form-control" name="email" />
                </p>
                <p>
                    <label form="journal" for="mentorDiscussion">Mentor Discussion: </label>
                    <input ng-model="journalvm.user.mentor.discussion" type="text" class="form-control" name="discussion" />
                </p>
                <p>
                    <label form="journal" for="mentorName">Mentor Name: </label>
                    <input ng-model="journalvm.user.mentor.mentorname" type="text" class="form-control" name="mentorname" />
                </p>
            </div> <!-- End of class form-group --> 
        </div> <!-- End of row col-md-12 --> 
       <div class="row">
        <div class="col-xs-12">
            <div class="text-center form-group">
            <button ng-click="journalvm.close(journalvm.user)" class="btn btn-success">Close</button>
            <button ng-click="journalvm.onSubmit('journal',journalvm.user)" class="btn btn-primary">Save</button>
            </div> <!-- End of text-center form-group -->
        </div> <!-- End of class col-xs-12 -->
        </div> <!-- End of class row -->   
    </form>
</div> <!-- End of id journalModal -->