<div id="journalModal">
    <span class="glyphicon glyphicon-remove close-btn pull-right" ng-click="journalvm.cancel()"></span>
    <fieldset>
    <legend>Journal Information</legend>
    <p>Please fill out the following fields. If you do not have one of the following, you may leave it blank.</p>
    <form novalidate method="post" name="journal" ng-submit="submit()">
        <div class="row">
            <div class="col-md-12">
                <!-- Information regarding higher journal -->
                <fieldset>
                <legend>Building Connections</legend>
                <div class="form-group" ng-repeat="connect in journalvm.user.interviews track by $index">
                    <h3>Interview {{$index + 1}}</h3> 
                    <p>
                        <label form="journal" for="company{{$index}}">Company: </label>
                        <input ng-model="connect.company" type="text" class="form-control" name="copmany{{$index}}" />
                    </p>
                    <p>
                        <label form="journal" for="date{{$index}}">Date: </label>
                        <input ng-model="connect.date" type="date" class="form-control" name="date{{$index}}" />
                    </p>
                    <p>
                        <label form="journal" form="contact{{$index}}">Contact: </label>
                        <input ng-model="connect.contact" type="text" class="form-control" name="contact{{$index}}" />
                    </p>
                    <p>
                        <label form="journal" form="notes{{$index}}">Notes: </label>
                        <input ng-model="connect.notes" type="text" class="form-control" name="notes{{$index}}" />
                    </p>
                    <p>"Did you follow up?<input type="checkbox" ng-model="connect.didfollowup" type="text" class="form-control" name="didfollowup{{$index}}" /> </p>
                </div>
                <!-- End of ng-repeat=connect in journalvm.user.interviews -->
            </fieldset>
            </div>
            <!-- End of class col-md-12 -->
        </div>
        <!-- End of class row -->
        <div class="row col-md-12">
            <!-- Information regarding higher journal -->
            <h3>Events</h3>
                <input type="checkbox" name="Did you follow up?"> Follow
            <div class="form-group" ng-repeat="connect in journalvm.user.events track by $index">
                <h3>Event {{$index + 1}}</h3>
                <p>
                    <label form="journal" for="journal{{$index}}">Journal: </label>
                    <input ng-model="connect.journal" type="text" class="form-control" name="journal{{$index}}" />
                </p>
                <p>
                    <label form="contactname" for="contactname{{$index}}">contactname: </label>
                    <input ng-model="connect.contactname" type="text" class="form-control" name="contactname{{$index}}" />
                </p>
                <p>
                    <label form="contactinfo" for="contactinfo{{$index}}">contactinfo: </label>
                    <input ng-model="connect.contactinfo" type="text" class="form-control" name="contactinfo{{$index}}" />
                </p>
                <p>
                    <label form="contactcompany" for="company{{$index}}">contactcompany: </label>
                    <input ng-model="connect.contactcompany" type="text" class="form-control" name="contactcompany{{$index}}" />
                </p>
                <p>
                    <label form="contactdepartment" for="contactdepartment{{$index}}">contactdepartment: </label>
                    <input ng-model="connect.contactdepartment" type="text" class="form-control" name="contactdepartment{{$index}}" />
                </p>
                <!-- Add add to items list like skills
                <p>
                    <label form="journal" for="date{{$index}}">Date: </label>
                    <input ng-model="connect.date" type="date" class="form-control" name="date{{$index}}"/>
                </p> -->
            </div>
            <!-- End of ng-repeat=connect in journalvm.user.event -->
        </div>
        <!-- End of class row col-md-12 -->
        <div class="row col-md-12">
            <!-- Information regarding higher journal -->
            <fieldset>
                <legend>Mentor Information</legend>
                <div class="form-group">
                    <p>
                        <label form="journal" for="mentorName">Mentor Name: </label>
                        <input ng-model="journalvm.user.mentor.mentorname" type="text" class="form-control" name="mentorname" />
                    </p>
                    <p>
                        <label form="journal" for="location">Mentor Location: </label>
                        <input ng-model="journalvm.user.mentor.location" type="text" class="form-control" name="location" />
                    </p>
                    <p>
                        <label form="journal" for="email">Mentor Email: </label>
                        <input ng-model="journalvm.user.mentor.email" type="text" class="form-control" name="email" />
                    </p>
                    <p>
                        <label form="journal" for="mentorDiscussion">Mentor Discussion: </label>
                        <input ng-model="journalvm.user.mentor.discussion" type="text" class="form-control" name="discussion" />
                    </p>
                    <p>
                        <label form="journal" for="mentorName">Mentor Name: </label>
                        <input ng-model="journalvm.user.mentor.mentorname" type="text" class="form-control" name="mentorname" />
                    </p>
                </div>
                <!-- End of class form-group -->
            </fieldset>
        </div>
        <!-- End of row col-md-12 -->
        <div class="row">
            <div class="col-xs-12">
                <div class="text-center form-group">
                    <p ng-show="journalvm.formError" class="alert alert-danger" ng-bind-html="journalvm.formError"></p>
                    <p ng-show="journalvm.formInfo" class="alert alert-success" ng-bind-html="journalvm.formInfo"></p>
                    <button ng-click="journalvm.close(journalvm.user)" class="btn btn-warning">Close</button>
                    <button ng-click="journalvm.onSubmit('journal',journalvm.user)" class="btn btn-info">Save</button>
                </div>
                <!-- End of text-center form-group -->
            </div>
            <!-- End of class col-xs-12 -->
        </div>
        <!-- End of class row -->
    </form>
</fieldset>
</div>
<!-- End of id journalModal -->