<div id="selectIntern">
    <span class="glyphicon glyphicon-remove close-btn pull-right" ng-click="selectIntern.cancel()"></span>
    <form novalidate ng-submit="selectIntern.submit()" class="col-xs-12" name="selectIntern">
        <h2 class="text-center comp-name">Choose the project you are selecting the intern for:</h2>
        <div class="form-group">
            <label for="project">Project:</label>
            <select ng-model="selectIntern.projectId" name="projectId" class="form-control" id="project">
                <option ng-repeat="obj in selectIntern.projIds" value="obj.title">{{obj.title}}</option>
            </select>
        </div>
        <div class="form-group">
            <input class="btn btn-warning" ng-click="selectIntern.cancel()" type="button" value="Cancel" />
            <input class="btn btn-info" ng-click="selectIntern.onSubmit()" type="button" value="Save" />
        </div>

    </form>
    <span class="clearfix"></span>
</div>
<!-- End of add Intern modal -->