<div id="selectIntern">
    <span class="glyphicon glyphicon-remove close-btn pull-right" ng-click="selectInternvm.cancel()"></span>
    <form novalidate class="col-xs-12" name="selectIntern">
        <h2 class="text-center comp-name">Choose the project you are selecting the intern for:</h2>
        <div class="form-group">
            <label for="project">Project:</label>
            <select ng-model="selectInternvm.projectId" name="projectId" class="form-control" id="project">
                <option ng-repeat="obj in selectInternvm.projIds" value="{{obj.title}}">{{obj.title}}</option>
            </select>
        </div>
        <div class="form-group">
            <input class="btn btn-warning" ng-click="selectInternvm.cancel()" type="button" value="Cancel" />
            <input class="btn btn-info" ng-click="selectInternvm.onSubmit()" type="button" value="Save" />
        </div>

    </form>
    <span class="clearfix"></span>
</div>
<!-- End of add Intern modal -->