<div id="skillModal">
  <form novalidate method="post" name="skill.content" ng-submit="submit()">
    <div class="row">
      <!-- Display all available skills -->
      <div class="col-xs-12">
        <!-- Display all interests and hobbies -->
        <div class="form-group">
          <div>
            <h3>Skills:</h3>
            <p ng-show="skillvm.skills.length == 9" class="bg-warning">You may add up to 10 items</p>
            <!-- Add a new area of focus -->
            <div>
              <input type="text" ng-model="skillvm.newSkill.skill" class="add-btn" />
              <input type="number" ng-max="5" ng-model="skillvm.newSkill.amount" class="add-btn" />
              <button class="btn" ng-disabled="skillvm.skills.length == 9 || !skillvm.newSkill" type="button" ng-click="skillvm.addToSkills()" class="btn btn-primary">Add</button>
            </div><br />
            <ol ng-if="skillvm.skills.length > 0">
                <li ng-repeat="field in skillvm.skills track by $index">
                    <input type="text" ng-model="field.skill">
                    <input type="text" ng-model="field.amount">
                    <button class="btn" type="button" ng-click="skillvm.deleteSkill($index)">Delete</button>
                  </li>
            </ol>
          </div>
        </div>
      </div>

      <!-- Display all wanted skills -->
      <div class="col-xs-12">
        <!-- Display all interests and hobbies -->
        <div class="form-group">
          <div>
            <h3>Wanted Skills:</h3>
            <p ng-show="skillvm.want.length == 9" class="bg-warning">You may add up to 10 items</p>
            <!-- Add a new area of focus -->
            <div>
              <input type="text" ng-model="skillvm.newWant" class="add-btn" />
              <button class="btn" ng-disabled="skillvm.want.length == 9 || !skillvm.newWant" type="button" ng-click="skillvm.addToWants()" class="btn btn-primary">Add</button>
            </div><br />
            <ol ng-if="skillvm.wants.length > 0">
                <li ng-repeat="field in skillvm.wants track by $index">
                    <input type="text" ng-model="field">
                    <button class="btn" type="button" ng-click="skillvm.deleteWant($index)">Delete</button>
                  </li>
            </ol>
          </div>
        </div>
      </div>

    <!-- Display all known programming languages -->
    <div class="col-xs-12">
      <!-- Display all interests and hobbies -->
      <div class="form-group">
        <div>
          <h3>Programming Skills:</h3>
          <p ng-show="skillvm.languages.length == 9" class="bg-warning">You may add up to 10 items</p>
          <!-- Add a new area of focus -->
          <div>
            <input type="text" ng-model="skillvm.newLanguage.skill" class="add-btn" />
            <input type="number" ng-max="5" ng-model="skillvm.newLanguage.amount" class="add-btn" />
            <button class="btn" ng-disabled="skillvm.languages.length == 9 || !skillvm.newLanguage" type="button" ng-click="skillvm.addToLanguages()" class="btn btn-primary">Add</button>
          </div><br />
          <ol ng-if="skillvm.languages.length > 0">
              <li ng-repeat="field in skillvm.languages track by $index">
                  <input type="text" ng-model="field.skill">
                  <input type="text" ng-model="field.amount">
                  <button class="btn" type="button" ng-click="skillvm.deleteLanguage($index)">Delete</button>
              </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center form-group">
          <button class="btn btn-success" ng-click="skillvm.close()" type="submit">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
