<div id="skillModal">
  <span class="glyphicon glyphicon-remove pull-right" ng-click="skillvm.cancel()"></span>
  <form novalidate method="post" name="skills" ng-submit="submit()">
    <div class="row">
      <!-- Display all available skills -->
      <div class="col-xs-12">
        <!-- Display all interests and hobbies -->
        <div class="form-group">
          <div>
            <h3>Programming Skills:</h3>
            <p ng-show="skillvm.user.skills.length == 9" class="bg-warning">You may add up to 10 items</p>
            <!-- Add a new area of focus -->
            <div>
              <input type="text" ng-model="skillvm.newSkill.skill" class="add-btn" minlength="1" required="required" name="newSkillSkill"  />
              <input type="number" max="5" min="1" required="required" ng-model="skillvm.newSkill.amount" name="newSkillAmount" class="add-btn" />
              <button class="btn" ng-disabled="skillvm.user.skill.length == 9 || !skills.newSkillAmount.$valid || !skills.newSkillSkill.$valid" type="button" ng-click="skillvm.addToSkills()" class="btn btn-primary">Add</button>
            </div><br />
            <ol ng-if="skillvm.user.skill.length > 0">
                <li ng-repeat="field in skillvm.user.skill track by $index">
                    <input type="text" ng-model="field.skill">
                    <input type="text" ng-model="field.amount">
                    <span class="glyphicon glyphicon-remove" ng-click="skillvm.deleteSkill($index)"></span>
                  </li>
            </ol>
          </div>
        </div>
      </div>

      <!-- Display all wanted skills -->
      <div class="col-xs-12">
        <!-- Display all interests and hobbies -->
        <div class="form-group">
          <div>
            <h3>Wanted Skills:</h3>
            <p ng-show="skillvm.user.want.length == 9" class="bg-warning">You may add up to 10 items</p>
            <!-- Add a new area of focus -->
            <div>
              <input type="text" ng-model="skillvm.newWant.skill" class="add-btn" />
              <button class="btn" ng-disabled="skillvm.wanted_skill.length == 9 || !skillvm.newWant" type="button" ng-click="skillvm.addToWants()" class="btn btn-primary">Add</button>
            </div><br />
            <ol ng-if="skillvm.user.wanted_skill.length > 0">
                <li ng-repeat="field in skillvm.user.wanted_skill track by $index">
                    <input type="text" ng-model="field.skill">
                    <span class="glyphicon glyphicon-remove" ng-click="skillvm.deleteWant($index)"></span>
                  </li>
            </ol>
          </div>
        </div>
      </div>

    <!-- Display all known programming languages -->
    <div class="col-xs-12">
      <!-- Display all interests and hobbies -->
      <div class="form-group">
        <div>
          <h3>Language(s) I speak:</h3>
          <p ng-show="skillvm.user.language.length == 9" class="bg-warning">You may add up to 10 items</p>
          <!-- Add a new area of focus -->
          <div>
            <input type="text" ng-model="skillvm.newLanguage.skill" minlength="1" required="required" name="newLangSkill" class="add-btn" />
            <input type="number" max="5" min="1" required="required" name="newLangAmount" ng-model="skillvm.newLanguage.amount" class="add-btn" />
            <button class="btn" ng-disabled="skillvm.language.length == 9 || !skills.newLangSkill.$valid || !skills.newLangAmount" type="button" ng-click="skillvm.addToLanguages()" class="btn btn-primary">Add</button>
          </div><br />
          <ol ng-if="skillvm.user.language.length > 0">
              <li ng-repeat="field in skillvm.user.language track by $index">
                  <input type="text" ng-model="field.language">
                  <input type="text" ng-model="field.rating">
                  <span class="glyphicon glyphicon-remove" ng-click="skillvm.deleteLanguage($index)"></span>
              </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center form-group">
          <button class="btn btn-success" ng-click="skillvm.close(skillvm.user)" type="submit">Close</button>
          <button class="btn btn-success" ng-click="skillvm.onSubmit('skill',skillvm.user)" type="submit">Close</button>
        </div>
      </div>
    </div>
  </form>
</div>
