<div id="skillModal">
  <span class="glyphicon glyphicon-remove close-btn pull-right" ng-click="skillvm.cancel()"></span>
  <form novalidate method="post" name="skills" ng-submit="submit()">
    <div class="row">
      <!-- Display all available skills -->
      <div class="col-xs-12">
        <!-- Display all interests and hobbies -->
        <div class="form-group">
          <div>
            <fieldset>
            <legend>Programming Skills:</legend>
            <p>Please include up to 10 programming skills. Include the skill and your skill level ranging from 1-5</p>
            <p ng-show="skillvm.formError" class="alert alert-danger" ng-bind-html="skillvm.formError"></p>
            <p ng-show="skillvm.formInfo" class="alert alert-success" ng-bind-html="skillvm.formInfo"></p>
            <p ng-show="skillvm.user.skill.length == 9" class="bg-warning">You may add up to 10 items</p>
            <!-- Add a new area of focus -->
            <div class="row">
              <label class="col-md-1">Skill:</label>
              <input type="text" ng-model="skillvm.newSkill.skill" class="col-md-3" minlength="1" required="required" name="newSkillSkill"  />
              <label class="col-md-2">Rating(1-5): </label>
              <input type="number" max="5" min="1" required="required" ng-model="skillvm.newSkill.amount" name="newSkillAmount" class="col-md-2" />
              <button ng-class="[{'addEntry':skills.newSkillAmount.$valid && skills.newSkillSkill.$valid}]" ng-disabled="skillvm.user.skill.length == 9 || !skills.newSkillAmount.$valid || !skills.newSkillSkill.$valid" type="button" ng-click="skillvm.addToSkills()" class="btn col-md-1 col-md-offset-1">Add</button>
            </div><br /> <!-- End of class row -->
            <ol ng-if="skillvm.user.skill.length > 0">
                <li ng-repeat="field in skillvm.user.skill track by $index" class="col-xs-12 col-md-5" ng-if="!field.delete">
                    <input type="text" ng-model="field.skill" class="col-xs-12 col-md-7">
                    <input type="number" ng-model="field.amount" class="col-xs-12 col-md-4 col-md-offset-1" max="5" min="1">
                    <p ng-model="field.skillsid"></p> 
                    <span class="glyphicon glyphicon-remove" ng-click="skillvm.deleteSkill($index)"></span>
                  </li>
            </ol>
          </fieldset>
          </div>
        </div>
      </div>

      <!-- Display all wanted skills -->
      <div class="col-xs-12">
        <!-- Display all interests and hobbies -->
        <div class="form-group">
          <div>
            <fieldset>
            <legend>Wanted Skills:</legend>
            <p ng-show="skillvm.user.wanted_skills.length == 9" class="bg-warning">You may add up to 10 items</p>
            <!-- Add a new area of focus -->
            <div>
              <input type="text" ng-model="skillvm.newWant.skill" class="add-btn" />
              <button ng-class="[{'addEntry':skillvm.newWant.skill}]" class="btn" ng-disabled="skillvm.wanted_skills.length == 9 || !skillvm.newWant.skill" type="button" ng-click="skillvm.addToWants()">Add</button>
            </div><br /> <!-- End of div on line 41 -->
            <ol ng-if="skillvm.user.wanted_skills.length > 0">
                <li ng-repeat="field in skillvm.user.wanted_skills track by $index" class="col-xs-12 col-md-4">
                    <input type="text" ng-model="field.skill" class="form-control">
                    <span class="glyphicon glyphicon-remove" ng-click="skillvm.deleteWant($index)"></span>
                  </li>
            </ol>
          </fieldset>
          </div> <!-- End of div on line 37 -->
        </div> <!-- End of class form-group -->
      </div> <!-- End of class col-xs-12 -->

    <!-- Display all known languages -->
    <div class="col-xs-12">
      <div class="form-group">
        <div>
          <h3>Language(s) I speak. Please include all of the languages you speak and your skill level of each (1-5):</h3>
          <p ng-show="skillvm.user.language.length == 9" class="bg-warning">You may add up to 10 items</p>
          <!-- Add a new area of focus -->
          <div class="row"> 
            <label class="col-md-2">Language: </label>              
            <input type="text" ng-model="skillvm.newLanguage.language" minlength="1" required="required" name="newLangSkill" class="col-md-3" />
            <label class="col-md-2">Rating (1-5): </label>            
            <input type="number" max="5" min="1" required="required" name="newLangAmount" ng-model="skillvm.newLanguage.rating" class="col-md-2" />
            <button ng-class="[{'addEntry':skillvm.newLanguage.language && skillvm.newLanguage.rating}]" class="btn col-md-1 col-md-offset-1" ng-disabled="skillvm.language.length == 9 || !skillvm.newLanguage.language || !skillvm.newLanguage.rating" type="button" ng-click="skillvm.addToLanguages()">Add</button>
          </div><br /> <!-- End of class row -->
          <ol ng-if="skillvm.user.language.length > 0">
              <li ng-repeat="field in skillvm.user.language track by $index" class="col-md-5">
                  <input type="text" ng-model="field.language" class="col-md-7">
                  <input type="number" ng-model="field.rating" class="col-md-offset-1 col-md-4">
                  <span class="glyphicon glyphicon-remove" ng-click="skillvm.deleteLanguage($index)"></span>
              </li>
          </ol>
        </div> <!-- End of div on line 58 -->
      </div> <!-- End of class form-group -->
    </div> <!-- End of class col-xs-12 -->
    <div class="row">
      <div class="col-xs-12">
        <div class="text-center form-group">
          <button class="btn btn-warning" ng-click="skillvm.cancel()" type="submit">Close</button>
          <button class="btn btn-info" ng-click="skillvm.onSubmit('skill',skillvm.user)" type="submit">Save</button>
        </div> <!-- End of class text-center form-group -->
      </div> <!-- End of class col-xs-12 -->
    </div> <!-- End of class row -->
  </form>
</div> <!-- End of id skillModal -->
