<div id="socialModal">
  <form novalidate method="post" name="educationvm.content" ng-submit="submit()">
    <div class="text-center form-group">
      <h3>Social</h3>
      <button class="btn" type="button" ng-click="socialvm.triggerEditMode()" ng-hide="socialvm.editMode">Edit</button>
      <button class="btn" type="button" ng-click="socialvm.triggerEditMode()" ng-show="socialvm.editMode">Done</button>
      <p>
        <label form="newField">Github: </label>
        <input ng-show="socialvm.editMode" ng-model="socialvm.github" type="text" class="form-control"/>
        <span ng-hide="socialvm.editMode">{{socialvm.github}}</span>
      </p>

      <p>
        <label form="newField">LinkedIn: </label>
        <input ng-show="socialvm.editMode" ng-model="socialvm.linkedin" type="text" class="form-control"/>
        <span ng-hide="socialvm.editMode">{{socialvm.linkedin}}</span>
      </p>

      <p>
        <label form="newField">Portfolio: </label>
        <input ng-show="socialvm.editMode" ng-model="socialvm.portfolio" type="text" class="form-control"/>
        <span ng-hide="socialvm.editMode">{{socialvm.portfolio}}</span>
      </p>

    </div>
    <div class="text-center">
      <button class="btn btn-success" ng-click="socialvm.close()" type="submit">Close</button>
    </div>
  </form>
</div>
