<div id="portfolioModal">
    <span class="glyphicon glyphicon-remove pull-right" ng-click="portfoliovm.cancel()"></span>
    <h2>Portfolio Information</h2>
    <p>Please fill out the following fields. If you do noto have one of the following, you may leave it blank.</p>
    <form novalidate method="post" name="portfolio" ng-submit="submit()">
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
                    <label form="portfolio" for="name">Name: </label>
                    <input ng-model="portfoliovm.user.contact_info.name" type="text" class="form-control" name="name"/>
          </div>
          <div class="form-group">
                    <label form="portfolio" for="location">Location: </label>
                    <input ng-model="portfoliovm.user.contact_info.location" type="text" class="form-control" name="location"/>
          </div>
          <div class="form-group">
            <label form="portfolio" for="mos">MOS/Rate: </label>
            <input ng-model="portfoliovm.user.contact_info.mos" type="text" class="form-control" name="mos"/>
          </div>
          <div class="form-group">
            <label form="portfolio" for="branch">Branch of Service: </label>
            <input ng-model="portfoliovm.user.contact_info.branch" type="text" class="form-control" name="branch"/>
          </div>
          </div>
       </div>   
       <div class="row">
        <div class="col-xs-12">
            <div class="text-center form-group">
            <button ng-click="portfoliovm.close(portfoliovm)" class="btn btn-success">Close</button>
            <button ng-click='portfoliovm.onSubmit()' class="btn btn-success">Close</button>
            </div>
        </div>
        </div>       
    </form>
</div>