<span class="glyphicon glyphicon-remove close-btn pull-right" ng-click="portfoliovm.cancel()"></span>
<div id="portfolioModal">
  <fieldset>
    <legend>Portfolio Information</legend>
    <p>Please fill out the following fields. If you do noto have one of the following, you may leave it blank.</p>
    <form novalidate method="post" name="portfolio" ng-submit="submit()">
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12">
            <div class="form-group">
              <label form="portfolio" for="pic">Profile Picture: </label>
              <input ng-model="portfoliovm.user.pic" type="file" ngf-select class="form-control" name="pic" />
            </div>
            <!-- End of div class form-group -->
            <div class="form-group">
              <label form="portfolio" for="name">Name: </label>
              <input ng-model="portfoliovm.user.contact_info.name" type="text" class="form-control" name="name" />
            </div>
            <!-- End of class form-group -->
            <div class="form-group">
              <label form="portfolio" for="location">Location: </label>
              <input ng-model="portfoliovm.user.contact_info.location" type="text" class="form-control" name="location" />
            </div>
            <!-- End of class form-group -->
            <div>
              <label>Are you an army veteran or a spouse?</label>
              <select ng-model="portfoliovm.user.contact_info.isVet" ng-options="option.name for option in portfoliovm.options">
                <option value="0">Spouse</option>
                <option value="1">Veteran</option>
              </select>
            </div>
            <div ng-if="portfoliovm.user.contact_info.isVet === 1">
              <div class="form-group">
                <label form="portfolio" for="mos">MOS/Rate: </label>
                <p>Please spell out your MOS</p>
                <input ng-model="portfoliovm.user.contact_info.mos" type="text" class="form-control" name="mos" />
              </div>
              <!-- End of class form-group -->
            </div>
            <!-- End of ng-if for isVet-->
            <div class="form-group">
              <label form="portfolio" for="bio">Bio </label>
              <input ng-model="portfoliovm.user.contact_info.bio" type="text" class="form-control" name="bio" />
            </div>
            <!-- End of class form-group -->
          </div>
          <!-- End of class col-md-12 -->
        </div>
        <!-- End of class col-md-12 -->
        <div class="row">
          <div class="col-xs-12">
            <div class="text-center form-group">
              <p ng-show="portfoliovm.formError" class="alert alert-danger" ng-bind-html="portfoliovm.formError"></p>
              <p ng-show="portfoliovm.formInfo" class="alert alert-success" ng-bind-html="portfoliovm.formInfo"></p>
              <button ng-click="portfoliovm.close(portfoliovm.user)" class="btn btn-warning">Close</button>
              <button ng-click='portfoliovm.onSubmit("contactInfo", portfoliovm.user)' class="btn btn-info">Save</button>
            </div>
            <!-- End of class text-center form-group -->
          </div>
          <!-- End of class col-xs-12 -->
        </div>
        <!-- End of class row -->
    </form>
  </fieldset>
  </div>
  <!-- End of id portfolioModal -->