<span class="glyphicon glyphicon-remove close-btn pull-right" ng-click="portfoliovm.cancel()"></span>
<div id="portfolioModal">
  <form novalidate method="post" name="portfolio" ng-submit="submit()">
    <fieldset>
      <h2>Portfolio Information</h2>
      <p>Please fill out the following fields. If you do noto have one of the following, you may leave it blank.</p>
      <div class="row">
        <div class="col-md-12">
          <div class="col-md-12">
            <div class="form-group">
              <label form="portfolio" for="pic">Profile Picture: </label>
              <input ng-model="portfoliovm.user.pic" type="file" ngf-select class="form-control" name="pic" />
            </div>
            <!-- End of div class form-group -->
            <div class="form-group">
              <label form="portfolio" for="firstname">First Name: </label>
              <input ng-model="portfoliovm.user.contact_info.firstname" type="text" class="form-control" name="firstname" />
            </div>
            <!-- End of class form-group -->
            <div class="form-group">
              <label form="portfolio" for="lastname">Last Name: </label>
              <input ng-model="portfoliovm.user.contact_info.lastname" type="text" class="form-control" name="lastname" />
            </div>
            <!-- End of class form-group -->
            <div class="form-group"> 
              <label form="portfolio" for="location">Location: </label>
              <input ng-model="$scope.gplace" id="location" type="text" class="form-control" name="location" ng-click="portfoliovm.getPlace()" options="portfoliovm.options" />
            </div>
            <!-- End of class form-group -->
            <div>
              <label>Are you an army veteran or a spouse?</label>
              <select ng-model="portfoliovm.user.contact_info.isVet" ng-options="obj.value as obj.name for obj in portfoliovm.options">
                <!--<option ng-repeat="obj in portfoliovm.options" id="{{obj.name}}" value="{{obj.value}}" ng-selected="obj.value == portfoliovm.user.contact_info.isVet">{{obj.name}}</option>-->
              </select>
            </div>
            <div ng-if="portfoliovm.user.contact_info.isVet === 1">
              <div class="form-group">
                <label form="portfolio" for="mos">MOS/Rate: </label>
                <p>Please spell out your MOS</p>
                <input ng-model="portfoliovm.user.contact_info.mos" type="text" class="form-control" name="mos" />
              </div>
              <!-- End of class form-group -->
              <div class="form-group">
                <label form="portfolio" for="branch">Branch: </label>
                <p>Please tell us what brnach of the military you are/were in:</p>
                <select ng-model="portfoliovm.user.contact_info.branch">
                  <option value="">Select one of the following</option>
                  <option ng-repeat="obj in portfoliovm.branchOptions" id="{{obj}}" value="{{obj}}" ng-selected="obj == portfoliovm.user.contact_info.branch">{{obj}}</option>
                </select>
              </div>
              <!-- End of class form-group -->
            </div>
            <!-- End of ng-if for isVet-->
            <div class="form-group">
              <label form="portfolio" for="bio">Bio </label>
              <input ng-model="portfoliovm.user.contact_info.bio" type="text" class="form-control" name="bio" />
            </div>
            <!-- End of class form-group -->
          </div>
          <!-- End of class col-md-12 -->
        </div>
        <!-- End of class col-md-12 -->
        <div class="row">
          <div class="col-xs-12">
            <div class="text-center form-group">
              <p ng-show="portfoliovm.formError" class="alert alert-danger" ng-bind-html="portfoliovm.formError"></p>
              <p ng-show="portfoliovm.formInfo" class="alert alert-success" ng-bind-html="portfoliovm.formInfo"></p>
              <input ng-click="portfoliovm.close(portfoliovm.user)" class="btn btn-warning" type="button" value="Cancel" />
              <input ng-click='portfoliovm.onSubmit("contactInfo", portfoliovm.user)' ng-disabled="portfoliovm.isDisabled" class="btn btn-info"
                type="button" value="Save" />
            </div>
            <!-- End of class text-center form-group -->
          </div>
          <!-- End of class col-xs-12 -->
        </div>
        <!-- End of class row -->
    </fieldset>
  </form>
  </div>
  <!-- End of id portfolioModal -->