<section id="comp-dash">

	<navbar content="{{navbarvm.activeNav}}"></navbar>
	<!-- Content -->
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="text-center" id="comp-name">{{vm.user.company_info.username}} Dashboard</h2>
			<br>
		</div>
		<!-- End of class col-md-8 -->
	</div>
	<!-- End of class row -->

	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-xs-12 box gap">
			<div ng-repeat="project in vm.projects" class="col-md-3 col-sm-6 col-xs-12 text-center">
				<p>{{project.text}}</p>
				<img src="{{project.img}}" height="121px">
				<p>{{project.detail}}</p>
				<p>{{project.amount}}</p>
			</div>
			<!-- End of ng-repeat project in vm.projects -->
		</div>
		<!-- End of class col-md-10 box gap -->
	</div>
	<!-- End of class row -->

	<div id="company" class="col-xs-12 col-md-6">
		<h2 class="col-xs-12 bg-primary">
			Company Info
			<span class="glyphicon glyphicon-pencil pull-right" data-toggle="modal" ng-click="vm.openModal()"></span>
		</h2>
		<div ng-if="vm.user.company.name">
			<h2>Name:</h2>
			<p>{{vm.user.company_info.name}}</p>
		</div>
		<div ng-if="vm.user.company.pointofcontact">
			<h2>Point of Context:</h2>
			<p>{{vm.user.company_info.pointofcontact}}</p>
		</div>
		<div ng-if="vm.user.company.industry">
			<h2>Industry:</h2>
			<p>{{vm.user.company_info.industry}}</p>
		</div>
		<div ng-if="vm.user.company.location">
			<h2>Location:</h2>
			<p>{{vm.user.company_info.location}}</p>
		</div>
		<div ng-if="vm.user.company.phonenumber">
			<h2>Phone Number:</h2>
			<p>{{vm.user.company_info.phonenumber}}</p>
		</div>
		<div ng-if="vm.user.company.email">
			<h2>Email:</h2>
			<p>{{vm.user.company_info.email}}</p>
		</div>
		<a href="/company/{{vm.user.company_info.username}}/project-submission" class="btn btn-info"> ADD PROJECT </a>
	</div>
	<!-- End of describe Yourself div-->

	<div id="stats" class="col-xs-12 col-md-6">
		<h2 class="col-xs-12 bg-primary">
			Stats
			<span class="glyphicon glyphicon-pencil pull-right" data-toggle="modal" ng-click="vm.openModal()"></span>
		</h2>
		<div ng-if="vm.user.company.employees">
			<h2>Employees:</h2>
			<p>{{vm.user.company_info.employees}}</p>
		</div>
		<div ng-if="vm.user.company.annualrevenue">
			<h2>Annual Revenue:</h2>
			<p>{{vm.user.company_info.annualrevenue}}</p>
		</div>
		<div ng-if="vm.user.company.numofcompanies">
			<h2>Number of Companies:</h2>
			<p>{{vm.user.company_info.numofcompanies}}</p>
		</div>
		<a href="/company/{{vm.user.company_info.username}}/project-submission" class="btn btn-info"> ADD PROJECT </a>
	</div>
	<!-- End of describe Yourself div-->

	<div class="row">
		<div class="col-xs-12 box gap">
			<div ng-repeat="type in vm.projectTypes" class="col-md-6 col-xs-12 text-center">
				<h3 class="text-center">{{type.title}}</h3>
				<div ng-if="type.project.length > 0" class="text-center">
					<p>Project Manager: {{type.project.projectmanager}}</p>
				</div>
				<!-- End of ng-if type.project.length > 0 -->
				<p ng-if="type.project.length == 0" class="text-center">No projects in {{type.title}}!</p>
			</div>
			<!-- End of ng-repeat type in vm.projectTypes -->
		</div>
		<!-- End of class col-md-10 box gap -->
	</div>
	<!-- End of class row -->
	<footer-base></footer-base>
</section>
<!-- End of id comp-dash -->