<section id="comp-dash">

	<navbar content="{{navbarvm.activeNav}}"></navbar>
	<!-- Content -->
	<div class="row">
		<div class="col-md-8 col-md-offset-2">
			<h2 class="text-center" id="comp-name">{{vm.user.company_info.username}} Dashboard</h2>
			<br>
		</div>
		<!-- End of class col-md-8 -->
	</div>
	<!-- End of class row -->

	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-xs-12 box gap">
			<div ng-repeat="project in vm.projects" class="col-md-3 col-sm-6 col-xs-12 text-center">
				<p>{{project.text}}</p>
				<img src="{{project.img}}" height="121px">
				<p>{{project.detail}}</p>
				<p>{{project.amount}}</p>
			</div>
			<!-- End of ng-repeat project in vm.projects -->
		</div>
		<!-- End of class col-md-10 box gap -->
	</div>
	<!-- End of class row -->

	<div id="describeYourself" class="col-xs-12 col-md-8 col-md-offset-2">
		<h2 class="col-xs-12 bg-primary">About yourself
			<span class="glyphicon glyphicon-pencil pull-right" data-toggle="modal" ng-click="vm.openModal()"></span>
		</h2>
		<div ng-if="vm.user.company.bio">
			<h2>About you:</h2>
			<p>{{vm.user.company_info.bio}}</p>
		</div>
		<div ng-if="vm.user.company.annualrevenue">
			<h2>Annual Revenue:</h2>
			<p>{{vm.user.company_info.annualrevenue}}</p>
		</div>
		<div ng-if="vm.user.company.numofemployees">
			<h2>Number of Employees:</h2>
			<p>{{vm.user.company_info.numofemployees}}</p>
		</div>
		<div ng-if="vm.user.company.diversity">
			<h2>Diversity:</h2>
			<p>{{vm.user.company_info.diversity}}</p>
		</div>
		<a href="/company/{{vm.user.company_info.username}}/project-submission" class="btn btn-info"> ADD PROJECT </a>
	</div>
	<!-- End of describYourself div-->

	<div class="row">
		<div class="col-md-10 col-md-offset-1 col-xs-12 box gap">
			<div ng-repeat="type in vm.projectTypes" class="col-md-6 col-xs-12 text-center">
				<h3>{{type.title}}</h3>
				<div ng-if="type.project.length > 0">
					<p>Project Manager: {{type.project.projectmanager}}</p>
				</div>
				<!-- End of ng-if type.project.length > 0 -->
				<p ng-if="type.project.length == 0">No projects in {{type.title}}!</p>
			</div>
			<!-- End of ng-repeat type in vm.projectTypes -->
		</div>
		<!-- End of class col-md-10 box gap -->
	</div>
	<!-- End of class row -->

	<p>What type of culture do you believe your company is?</p>
	<textarea placeholder="Enter the type of culture that you believe your company is."></textarea>

	<footer-base></footer-base>
</section>
<!-- End of id comp-dash -->
