<div id="proj-sub">

  <navbar content="navbarvm.activeNav"></navbar>
  <section class="container col-lg-12 col-md-12 col-sm-12 col-xs-12" id="proj-submit">
		<span class="clearfix"></span>
		<div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12 col-xs-12">
			<h1 class="text-center">Contact form</h1>
			<h2 class="text-center">{{vm.user.company.name}}</h2>
		</div>
		<!-- Status Bar  -->
		<div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 col-sm-12 col-xs-12" id="submit-progression">
			<p class="col-lg-4 col-md-4 text-center col-sm-12 col-xs-12" ng-if="vm.steps.page1"> Step 1:Submit Project </p>
			<p class="col-lg-4 col-md-4 col-md-offset-4 text-center col-sm-12 col-xs-12" ng-if="vm.steps.page2"> Step 2:Submit Project </p>
			<p class="col-lg-4 col-md-4 col-md-offset-8 text-center col-sm-12 col-xs-12" ng-class="{'active': vm.steps.active2}" ng-if="vm.steps.page3"> Step 3:Submit Project </p>
			<uib-progressbar max="3" value="vm.currentStep()" class="col-xs-12 progress-striped"></uib-progressbar>
		</div>
		<div class="form-container col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
			<form class="form" name="submissionForm">
				<div class="step" id="step1" ng-class="{'active': vm.steps.active1}" ng-if="vm.steps.page1">
					<div class="form-group">
						<label for="manager-name">What the Project Manager's Name?  </label>
						<input type="text" name="compManagerName" class="form-control col-lg-12 col-md-12" ng-model="vm.submissionForm.managerName" required id="manager-name"/>
					</div>
					<div class="form-group">
						<label for="comp-industry">What industry is your company in? </label>
						<input type="text" name="compIndustry" class="form-control col-lg-12 col-md-12" ng-model="vm.submissionForm.compIndustry" required id="comp-industry"/>
					</div>
					<div class="form-group">
						<label for="comp-location">Where are you located? </label>
						<input type="text" name="compLocation" class="form-control col-lg-12 col-md-12" ng-model="vm.submissionForm.compLocation" required id="comp-location"/>
					</div>
					<div class="form-group">
						<label for="comp-phone">What is your phone number? </label>
						<input type="text" name="compPhone" class="form-control col-lg-12 col-md-12" ng-model="vm.submissionForm.compPhone" required id="comp-phone"/>
					</div>
					<div class="form-group">
						<label for="comp-proj-description">Tell us what project/task you would like a military intern to work on with you?</label>
						<input type="text" name="compProjDescription" class="form-control col-lg-12 col-md-12" ng-model="vm.submissionForm.compProjDescription" required  id="comp-proj-description"/>
					</div>
					<input type="button" class="btn btn-default btn-primary pull-right col-md-4 col-xs-12" ng-disabled="submissionForm.compManagerName.$error.required || submissionForm.compIndustry.$error.required || submissionForm.compLocation.$error.required || submissionForm.compPhone.$error.required || submissionForm.compProjDescription.$error.required" value="Next Page" ng-click="vm.nextPage()"/>
				</div>
				<div class="step" id="step2" ng-class="{'active': vm.steps.active2}" ng-if="vm.steps.page2 && !vm.steps.page1">
					<div class="form-group">
						<label for="field1">Label 1: </label>
						<input type="text" class="form-control col-lg-12 col-md-12" ng-model="vm.submissionForm.field1" id="field1"/>
					</div>
					<div class="form-group">
						<label for="field2">Label 2: </label>
						<input type="text" class="form-control col-lg-12 col-md-12" ng-model="vm.submissionForm.field2" id="field2"/>
					</div>
					<div class="form-group">
						<label for="field3">Label 3: </label>
						<input type="text" class="form-control col-lg-12 col-md-12" ng-model="vm.submissionForm.field3" id="field3"/>
					</div>
					<input type="button" class="btn btn-default pull-left btn-primary  col-md-4 col-xs-12" value="Previous Page" ng-click="vm.prevPage()"/>
					<input type="submit" class="btn btn-default btn-primary pull-right col-md-4 col-xs-12" value="Submit" ng-click="vm.submitProjForm()"/>
				</div>
				<div class="step" id="step3" ng-class="{'active': vm.steps.page3}" ng-if="!vm.steps.page2 && !vm.steps.page1">
					<h3 class="text-center">Thank you very much! <br />Your project has been added and we will notify you when a match has been made!</h3>
				</div>
			</form>
		</div><!-- Form Container -->
	</section>
  <footer-base></footer-base>

</div>
