<navbar content="{{navbarvm.activeNav}}">
</navbar>

  <div class="container-fluid" id="proj-dash">
    <div class="row content">
      <div class="col-sm-3 sidenav">
        <h2>PROJECTS</h2>
        <ul class="nav nav-pills nav-stacked">
          <li>
            <a href="#section2">
              <strong>Project 1</strong>
            </a>
          </li>
          <li>
            <a href="#section2">
              <strong>Project 2</strong>
            </a>
          </li>
          <li>
            <a href="#section2">
              <strong>Project 3</strong>
            </a>
          </li>
        </ul>
        <br>
      </div>
      <br>

      <div class="col-sm-3">
        <div class="well">
          <h4>Project Name</h4>
          <input type="text" style="min-width: 100%" placeholder="Project Name">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="well">
          <h4>Project Description</h4>
          <textarea class="form-control" style="min-width: 100%"></textarea>
        </div>
      </div>

      <div class="col-md-3">
        <div class="well">
          <h4>Team Members</h4>
          <div class="teammember">Intern Intern
            <br> intern@intern.com</div>
          <div class="teammember">Intern Intern
            <br> intern@intern.com</div>
          <div class="teammember">Intern Intern
            <br> intern@intern.com</div>
        </div>
      </div>


      <div class="col-md-6">

        <div class="well">
          <h4>Project Status</h4>
          <div class="stat"><div class="task">Presentation in Manhattan</div></div>
          <div class="stat"><div class="task">Submit Patents</div></div>
          <div class="stat"><div class="task">Create Blueprint Presentation Models</div></div>
        </div>
      </div>



    </div>
  </div>




<footer-base></footer-base>