<navbar content="navbarvm.activeNav"></navbar>
<section class="container col-xs-12" id="proj-submit">
	<span class="clearfix"></span>
	<div class="col-lg-6 col-md-6 col-lg-offset-3 col-md-offset-3 col-sm-12 col-xs-12">
		<h1 class="text-center">Contact form</h1>
		<h2 class="text-center">{{vm.user.company.name}}</h2>
		<img src="assets/images/project-submission.png" style="width:90%; height:905;">
		<br/>
		<br/>
		<h5>Not ready for a project? </h5>
		<img src="assets/images/browse.png" style="height:90%; width:90%;">

		<p>Purchase includes 3 Months of Browsing Access and 2 Personal Intern Searches. If we do not find the Intern for you within
			the 3 Months a full credit can be authorized.
			<a href="/company/:companyid/purchase-membership">Click here to get started.</a>
		</p>

	</div> <!-- End of class col-lg-6 -->
	<!-- Status Bar  -->
	<div class="col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2 col-sm-12 col-xs-12" id="submit-progression">
		<p class="col-md-6 text-center col-sm-12 col-xs-12" ng-if="vm.steps.page1"> Step 1:Fill in project details </p>
		<p class="col-md-6 col-md-offset-6 text-center col-sm-12 col-xs-12" ng-class="{'active': vm.steps.page2}" ng-if="vm.steps.page2">
			Step 2:Submit Project </p>
		<uib-progressbar max="3" value="vm.currentStep()" class="col-xs-12 progress-striped"></uib-progressbar>
	</div><!-- End of status bar div -->
	<div class="form-container col-lg-8 col-md-8 col-lg-offset-2 col-md-offset-2">
		<form class="form" name="submissionForm">
			<div class="step" id="step1" ng-class="{'active': vm.steps.active1}" ng-if="vm.steps.page1">
				<div class="form-group">
					<label for="manager-name">What the Project Manager's Name? </label>
					<input type="text" name="compManagerName" class="form-control col-lg-12 col-md-12" ng-model="vm.submissionForm.projectmanager"
					 required id="manager-name" />
				</div> <!-- End of class form-group -->
				<div class="form-group">
					<label for="comp-industry">What industry is your company in? </label>
					<input type="text" name="compIndustry" class="form-control col-lg-12 col-md-12" ng-model="vm.submissionForm.industry" required
					 id="comp-industry" />
				</div> <!-- End of class form-group -->
				<div class="form-group">
					<label for="comp-location">Where are you located? </label>
					<input type="text" name="compLocation" class="form-control col-lg-12 col-md-12" ng-model="vm.submissionForm.location" required
					 id="comp-location" />
				</div> <!-- End of class form-gropup -->
				<div class="form-group">
					<label for="comp-phone">What is your phone number? </label>
					<input type="text" name="compPhone" class="form-control col-lg-12 col-md-12" ng-model="vm.submissionForm.phone" required
					 id="comp-phone" />
				</div> <!-- End of clas form-group --> 
				<div class="form-group">
					<label for="comp-proj-description">Tell us what project/task you would like a military intern to work on with you?</label>
					<input type="text" name="compProjDescription" class="form-control col-lg-12 col-md-12" ng-model="vm.submissionForm.projectdetails"
					 required id="comp-proj-description" />
				</div> <!-- End of classs form-group -->
				<input type="submit" class="btn btn-info btn-info pull-right col-md-4 col-xs-12" value="Submit" ng-click="vm.submitProjForm('project',vm.submissionForm)"
				/>
			</div> <!-- End of step 1 -->
			<div class="step" id="step2" ng-class="{'active': vm.steps.page2}" ng-if="!vm.steps.page1">
				<h3 class="text-center">Thank you very much!
					<br />Project Submitted! Click
					<a href="company/{{vm.user.company.username}}/purchase-membership.php">Here</a> To Purchase your Membership and begin the Matching Process. </br> Or Go to your
					<a href="company/{{vm.user.company.username}}/dashboard.php">Dashboard </a>if Already Purchased.</h3>
			</div><!-- End of step 2 -->
		</form>
	<!-- Form Container -->
</section> <!-- End of project submission -->
<footer-base></footer-base>