<navbar content="{{navbarvm.activeNav}}">
</navbar>

<div class="container" id="proj-dash">


  <div class="row">
    <div class="col-sm-3 sidenav">
      <h2> PROJECTS
        <button class="btn btn-secondary btn-sm" type="button" ng-click="vm.openProjectsList()">Edit</button>
      </h2>
      <ul class="nav nav-pills nav-stacked">
        <li>
          <a href="#section2">
            <strong>Project 1</strong>
          </a>
        </li>
        <li>
          <a href="#section2">
            <strong>Project 2</strong>
          </a>
        </li>
        <li>
          <a href="#section2">
            <strong>Project 3</strong>
          </a>
        </li>
      </ul>
    </div>



    <div class="col-md-9" id="projectPanes">

      <div class="well col-md-12" id="projectDescription">
        <h4>Project Name
          <button class="btn btn-warning btn-sm" type="button" ng-click="vm.editDescription()">Edit</button>
        </h4>

        <h5>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
          sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum." </h5>

      </div> <!-- End of class well col-md-12 -->



      <div class="col-md-6" id="interns">
        <div class="well">

          <table style="width:100%">
            <tr>
              <th>
                <u>
                  <strong>Name</strong>
                </u>
              </th>
              <th>
                <u>
                  <strong>Email</strong>
                </u>
              </th>
              <th>
                <u>
                  <strong>Hours</strong>
                </u>
              </th>
            </tr>

            <tr ng-repeat="intern in vm.interns">
              <td>{{intern.name}}</td>
              <td>{{intern.email}}</td>
              <td>{{intern.hours}}</td>
            </tr>



          </table>

        </div> <!-- End of class well -->
      </div> <!-- End of id interns --> 


      <div class="col-md-6 well" id="Milestones">
        <h4>MILESTONES
          <button class="btn btn-warning btn-sm" type="button" ng-click="vm.editMilestones()">Edit</button>
        </h4>

        <div ng-repeat="milestone in vm.milestones">
          <div class="stat">
            <p class="task">{{milestone.description}}
              <span class="completionDate">{{milestone.completionDate}}</span>
              <span class="completionText">{{milestone.isCompleted}}</span>
            </p>

          </div> <!-- End of class stat -->

        </div> <!-- End of ng-repeat milestone in vm.milestones -->

       

      </div> <!-- End of id Milestones -->






    </div> <!-- End of id projectPanes --> 
  </div> <!-- End of class row -->




  <footer-base></footer-base>