<style>
    /**
 * The CSS shown here will not be introduced in the Quickstart guide, but shows
 * how you can use CSS to style your Element's container.
 */
.StripeElement {
  background-color: white;
  height: 40px;
  padding: 10px 12px;
  border-radius: 4px;
  border: 1px solid transparent;
  box-shadow: 0 1px 3px 0 #e6ebf1;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
}

.StripeElement--focus {
  box-shadow: 0 1px 3px 0 #cfd7df;
}

.StripeElement--invalid {
  border-color: #fa755a;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

#purchaseMembership h3{
    padding:20px 0px;
    border-bottom:2px solid rgb(247,159,75);
    text-align:center;
}

#purchaseMembership ul{
    list-style-type: none;
    padding:0px;
    text-align: center;
}

#purchaseMembership ul li{
    margin-bottom:20px;
}

#purchaseMembership #discount-notification{
    margin-top:20px;
}

.payOption{
    padding:0px;
}
#purchaseMembership #monthMembership{
    background-color:rgb(211,211,211);
}

#purchaseMembership #quarterlyMembership{
    background-color:rgb(247,159,75);
}

#purchaseMembership #quarterlyMembership h3{
    border-bottom:2px solid rgb(211,211,211);
}

#purchaseMembership #annualMembership{
    background-color:rgb(211,211,211);
}
#purchaseMembership h1{
        background-color:rgb(247,159,75);
        border-bottom:5px solid darkgray;
        padding:10px 0px;
}

#purchaseMembership .paySubmit{
    color:#9d9d9d;
    padding: 20px 0px;
    background-color: #5383d3;
    transition:1s all;
}

#purchaseMembership .paySubmit:hover{
    color: #000;
}
</style>
<div id="purchaseMembership">
    <navbar content="{{navbarvm.activeNav}}"></navbar>
    <h1 class="text-center col-md-8 col-md-offset-2">Purchase Your Internship Membership</h5>
    <a href="company/{{vm.user.company.username}}/project-submission"><h2 ng-if="vm.user.company_project.length == 0" class="text-center">Submit a project first! Click here to be redirected.</h2></a>
    <div ng-if="vm.user.company_project.length > 0" class="col-xs-12">
        <h2 class="text-center">Select your Membership to Initiate the Matching Process</h2>
        <p class="col-md-8 col-md-offset-2 text-center">We make internships easy. Select your flexible membership package and everything is covered. We will tailor match you an intern, grant you the desired working hours per pay period, take care of the intern stipen, we will donate 10% to a education fund to help veterans and military spouses complete more great training. Purchase your package today and we will begin the process of matching your submitted project to an intern!</p>
        <div class="col-md-8 col-md-offset-2 row">
            <div id="monthMembership" class="col-md-4 payOption">
                    <h3>Monthly Membership</h3>
                    <ul>
                        <li>$1,600 Per Month</li>
                        <li>30 Project Hours Per Month</li>
                        <li>Tailored Intern Match per Project</li>
                        <li>Intern Stipend Included</li>
                        <li>% of Membership goes towards Free Vet Education</li>
                    </ul>
                    <button class="btn paySubmit col-xs-12 col-md-8 col-md-offset-2" ng-click="vm.openPayment('month')">Choose Monthly<br /> Membership</button>
            </div>
            <div id="quarterlyMembership" class="col-md-4 payOption">
                    <h3>Quarterly Membership</h3>
                    <ul>
                        <li>$5,000 Per Quarter</li>
                        <li>30 Project Hours Per Month</li>
                        <li>Tailored Intern Match per Project</li>
                        <li>Intern Stipend Included</li>
                        <li>% of Membership goes towards Free Vet Education</li>
                    </ul>
                    <button class="btn paySubmit col-xs-12 col-md-8 col-md-offset-2" ng-click="vm.openPayment('quarter')">Choose Quarterly<br /> Membership</button>
            </div>
            <div id="annualMembership" class="col-md-4 payOption">
                    <h3>Annual Membership</h3>
                    <ul>
                        <li>$16,000 Annually</li>
                        <li>40 Project Hours Per Month</li>
                        <li>Tailored Intern Match per Project</li>
                        <li>Intern Stipend Included</li>
                        <li>% of Membership goes towards Free Vet Education</li>
                    </ul>
                    <button class="btn paySubmit col-xs-12 col-md-8 col-md-offset-2" ng-click="vm.openPayment('annual')">Choose Annual<br />Membership</button>
            </div>
        </div>
        <span class="clearfix"></span>
        <div id="discount-notification" class="col-md-8 col-md-offset-2">
            <p>We believe in workplace inclusion and availability for all. If you are a company with under $5 Million in revenue apply for our "Building Best Inclusive Workplaces Scholarship" to receive a discount on membership. Discount rates are calculated by company size.</p>
            <a class="btn" href="requestdiscount.php" ><b style="color:white;">Apply Here</b></a>
        </div>
    </div>
</div>

<footer-base></footer-base>