<style>
    h1{
        background-color:rgb(247,159,75);
        border-bottom:5px solid darkgray;
        padding:10px 0px;
    }
</style>
<div class="col-xs-12">
<navbar content="navbarvm.activeNav"></navbar>
<h1 class="text-center">Application for Building Inclusive Workplaces Scholarship</h1>


<form method="POST" novalidate name="requestDiscount" class="col-xs-12 col-md-8 col-md-offset-2">

<p>Application for: {{reqDis.user.company.username}}</p>
<div class="form-group">
    <label for="revenue">Revenue:</label>
    <input type="text" name="revenue" ng-model="reqDis.request.revenue" id="revenue" class="form-control" required placeholder="What is your annual revenue?">        
</div>
<div class="form-group">
    <label for="legalname">Legal Name:</label>
    <input type="text" name="legalname" ng-model="reqDis.request.legalname" id="legalname" class="form-control" required placeholder="What is your businesses full legal name?">
</div>
<div class="form-group">
    <label for="address">Address:</label>
    <input type="text" name="address" ng-model="reqDis.request.address" id="address" class="form-control" required placeholder="What is the address used to register your business?">
</div>
<div class="form-group">
    <label for="phone">Phone:</label>
    <input type="text" name="phone" ng-model="reqDis.request.phone" id="phone" class="form-control" required placeholder="What is your business phone number?">
</div>
<div class="form-group">
    <label for="ein">EIN:</label>
    <input type="text" name="ein" ng-model="reqDis.request.ein" id="ein" class="form-control" required placeholder="Does your company have an EIN? If so, please proivde it here.">
</div>
<div class="form-group">
    <label for="reason">Reason:</label>
    <textarea name="reason" ng-model="reqDis.request.reason" id="reason" class="form-control" required placeholder="What will this scholarship do for your company? How will it help you grow? Do better? Make a bigger impact?"></textarea>
</div>
<div class="form-group">
        <input type="submit" name="sendapplication" value="Send Application" class="btn btn-primary pull-right" ng-disabled="requestDiscount.$error">
</div>


</form>
</div>
<div class="col s3"></div>


</div><!--row-->
<footer-base></footer-base>