
<div class="col-xs-12" id="requestDiscount">
    <navbar content="navbarvm.activeNav"></navbar>
    <h1 class="text-center">Application for Building Inclusive Workplaces Scholarship</h1>


    <form method="POST" novalidate name="requestDiscount" class="col-xs-12 col-md-8 col-md-offset-2">

        <p>Application for: {{reqDis.user.company.username}}</p>
        <div class="form-group">
            <label for="revenue">Revenue:</label>
            <input type="text" name="revenue" ng-model="reqDis.request.revenue" id="revenue" class="form-control" required placeholder="What is your annual revenue?">
        </div> <!-- End of class form-group -->
        <div class="form-group">
            <label for="legalname">Legal Name:</label>
            <input type="text" name="legalname" ng-model="reqDis.request.legalname" id="legalname" class="form-control" required placeholder="What is your businesses full legal name?">
        </div> <!-- End of class form-group -->
        <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" name="address" ng-model="reqDis.request.address" id="address" class="form-control" required placeholder="What is the address used to register your business?">
        </div> <!-- End of class form-group -->
        <div class="form-group">
            <label for="phone">Phone:</label>
            <input type="text" name="phone" ng-model="reqDis.request.phone" id="phone" class="form-control" required placeholder="What is your business phone number?">
        </div> <!-- End of clas form-group -->
        <div class="form-group">
            <label for="ein">EIN:</label>
            <input type="text" name="ein" ng-model="reqDis.request.ein" id="ein" class="form-control" required placeholder="Does your company have an EIN? If so, please proivde it here.">
        </div> <!-- End of class form-group -->
        <div class="form-group">
            <label for="reason">Reason:</label>
            <textarea name="reason" ng-model="reqDis.request.reason" id="reason" class="form-control" required placeholder="What will this scholarship do for your company? How will it help you grow? Do better? Make a bigger impact?"></textarea>
        </div> <!-- End of class form-group -->
        <div class="form-group">
            <input type="submit" name="sendapplication" value="Send Application" class="btn btn-primary pull-right" ng-disabled="requestDiscount.$error">
        </div> <!-- End of class form-group -->


    </form>
</div> <!-- End of id requestDiscount -->
<!-- End of request Discount -->
<footer-base></footer-base>